<header class="page-header {{#if headerFixed}} fixed {{/if}} {{#if headerDark}} dark {{/if}}">
    <div class="container">
        <div class="page-header__wrapper">


            <div class="page-header__row">
                <div class="page-header__nav-wrapper">
                    <button class="page-header__burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <nav class="page-header__nav">
                        <ul>
                            <li>
                                <a href="#">
                                    Разряды
                                </a>
                                <div class="page-header__nav-submenu">
                                    <div class="page-header__nav-submenu-inner">


                                        <ul class="page-header__nav-submenu-list">
                                            <li class="page-header__nav-submenu-list-item">
                                                <a href="#" class="page-header__nav-submenu-link">
                                                    Мужской разряд
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-list-item">
                                                <a href="#" class="page-header__nav-submenu-link">
                                                    Женский разряд
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-list-item">
                                                <a href="#" class="page-header__nav-submenu-link">
                                                    Общий SPA зал
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    апартаменты
                                </a>
                                <div class="page-header__nav-submenu">
                                    <div class="page-header__nav-submenu-inner">
                                        <ul class="page-header__nav-submenu-list">
                                            <li class="page-header__nav-submenu-list-item">
                                                <a href="#" class="page-header__nav-submenu-link">
                                                    CCCP
                                                    <div class="page-header__nav-submenu-count">
                                                        8
                                                        <svg width="20" height="13" aria-hidden="true" class="icon-arrow-right">
                                                            <use xlink:href="#2-people"></use>
                                                        </svg>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-list-item">
                                                <a href="#" class="page-header__nav-submenu-link">
                                                    Азия
                                                    <div class="page-header__nav-submenu-count">
                                                        10
                                                        <svg width="20" height="13" aria-hidden="true" class="icon-arrow-right">
                                                            <use xlink:href="#2-people"></use>
                                                        </svg>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-list-item">
                                                <a href="#" class="page-header__nav-submenu-link">
                                                    Шале
                                                    <div class="page-header__nav-submenu-count">
                                                        10
                                                        <svg width="20" height="13" aria-hidden="true" class="icon-arrow-right">
                                                            <use xlink:href="#2-people"></use>
                                                        </svg>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-list-item">
                                                <a href="#" class="page-header__nav-submenu-link">
                                                    Казань
                                                    <div class="page-header__nav-submenu-count">
                                                        8
                                                        <svg width="20" height="13" aria-hidden="true" class="icon-arrow-right">
                                                            <use xlink:href="#2-people"></use>
                                                        </svg>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    spa
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <a href="#" class="page-header__logo">

                    <img src="img/zhar.svg" alt="" class="page-header__logo-image">
                </a>
                <div class="page-header__links">
                    <a href="#complex-modal" class="page-header__book-link">
                        <span class="page-header__book-link-text">
                            Выбрать комплекс
                        </span>
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#location"></use>
                        </svg>
                    </a>
                    <a href="#" class="page-header__order-link">
                        <span class="page-header__order-link-text">
                            забронировать
                        </span>

                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#medium-arrow-right"></use>
                        </svg>

                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#complex"></use>
                        </svg>
                    </a>
                </div>

            </div>

        </div>
    </div>
</header>