<div class="booking-room-modal js-modal" id="booking-room-modal">
    <div class="container">
        <div class="booking-room-modal__inner">
            <h3 class="booking-room-modal__heading">
                Общественные бани
            </h3>
            <div class="booking-room-modal__content js-booking-room-slider">
                <div class="booking-room-modal__top-row">
                    <div class="booking-room-modal__arrows">
                        <button class="booking-room-modal__arrow booking-room-modal__arrow--prev">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                        </button>
                        <button class="booking-room-modal__arrow booking-room-modal__arrow--next">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>

                    </div>
                    <button class="booking-room-modal__close js-close-modal">
                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                            <use xlink:href="#cross"></use>
                        </svg>
                    </button>
                </div>
                <div class="booking-room-modal__slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="booking-room-modal__slider-card">
                                    <img src="img/booking-room-modal/1.jpg" alt=""
                                         class="booking-room-modal__card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="booking-room-modal__slider-card">
                                    <img src="img/booking-room-modal/2.jpg" alt=""
                                         class="booking-room-modal__card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="booking-room-modal__slider-card">
                                    <img src="img/booking-room-modal/3.jpg" alt=""
                                         class="booking-room-modal__card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="booking-room-modal__slider-card">
                                    <img src="img/booking-room-modal/1.jpg" alt=""
                                         class="booking-room-modal__card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="booking-room-modal__slider-card">
                                    <img src="img/booking-room-modal/2.jpg" alt=""
                                         class="booking-room-modal__card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="booking-room-modal__slider-card">
                                    <img src="img/booking-room-modal/3.jpg" alt=""
                                         class="booking-room-modal__card-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="booking-room-modal__row">
                    <div class="booking-room-modal__left-col">
                        <div class="booking-room-modal__type">
                            Общественные бани
                        </div>
                        <h4 class="booking-room-modal__inner-heading">
                            Мужской разряд
                        </h4>
                        <div class="booking-room-modal__inner-text">
                            Наши бани начинаются с просторных раздевалок и комфортных душевых. Время между парениями
                            можно провести в зоне отдыха, рассчитанной на 150 человек. Из мужского отделения вы можете
                            свободно попасть в общую зону, которая располагается на втором этаже. Посещение общей зоны
                            включено в стоимость входного билета.
                        </div>
                        <div class="booking-room-modal__schedule">
                            <div class="booking-room-modal__schedule-item">
                                <div class="booking-room-modal__schedule-item-key">
                                    Будние дни
                                </div>
                                <div class="booking-room-modal__schedule-item-value">
                                    800 руб/час
                                </div>
                            </div>
                            <div class="booking-room-modal__schedule-item">
                                <div class="booking-room-modal__schedule-item-key">
                                    Выходные и праздники
                                </div>
                                <div class="booking-room-modal__schedule-item-value">
                                    1000 руб/час
                                </div>
                            </div>
                        </div>
                        <a href="#" class="booking-room-modal__back-btn js-close-modal">
                            Вернуться к бронированию
                        </a>
                    </div>
                    <div class="booking-room-modal__right-col">
                        <ul class="booking-room-modal__list">
                            <li class="booking-room-modal__list-item">
                                <div class="booking-room-modal__card">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-person">
                                        <use xlink:href="#person"></use>
                                    </svg>
                                    <h4 class="booking-room-modal__card-title">
                                        Вместимость
                                    </h4>
                                    <div class="booking-room-modal__card-text">
                                        150 гостей
                                    </div>
                                </div>
                            </li>
                            <li class="booking-room-modal__list-item">
                                <div class="booking-room-modal__card">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-area">
                                        <use xlink:href="#area"></use>
                                    </svg>
                                    <h4 class="booking-room-modal__card-title">
                                        Общая площадь
                                    </h4>
                                    <div class="booking-room-modal__card-text">
                                        400 м2
                                    </div>
                                </div>
                            </li>
                            <li class="booking-room-modal__list-item">
                                <div class="booking-room-modal__card">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-time">
                                        <use xlink:href="#time"></use>
                                    </svg>
                                    <h4 class="booking-room-modal__card-title">
                                        Время пребывания
                                    </h4>
                                    <div class="booking-room-modal__card-text">
                                        слот от 3 часов
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="booking-room-modal js-modal" id="booking-room-modal-1">
    <div class="container">
        <div class="booking-room-modal__inner">
            <div class="booking-room-modal__content js-booking-room-slider">
                <div class="booking-room-modal__top-row">
                    <div class="booking-room-modal__arrows">
                        <button class="booking-room-modal__arrow booking-room-modal__arrow--prev">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                        </button>
                        <button class="booking-room-modal__arrow booking-room-modal__arrow--next">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>

                    </div>
                    <button class="booking-room-modal__close js-close-modal">
                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                            <use xlink:href="#cross"></use>
                        </svg>
                    </button>
                </div>
                <div class="booking-room-modal__slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="booking-room-modal__slider-card">
                                    <img src="img/booking-room-modal/1.jpg" alt=""
                                         class="booking-room-modal__card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="booking-room-modal__slider-card">
                                    <img src="img/booking-room-modal/2.jpg" alt=""
                                         class="booking-room-modal__card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="booking-room-modal__slider-card">
                                    <img src="img/booking-room-modal/3.jpg" alt=""
                                         class="booking-room-modal__card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="booking-room-modal__slider-card">
                                    <img src="img/booking-room-modal/1.jpg" alt=""
                                         class="booking-room-modal__card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="booking-room-modal__slider-card">
                                    <img src="img/booking-room-modal/2.jpg" alt=""
                                         class="booking-room-modal__card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="booking-room-modal__slider-card">
                                    <img src="img/booking-room-modal/3.jpg" alt=""
                                         class="booking-room-modal__card-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="booking-room-modal__row">
                    <div class="booking-room-modal__left-col">
                        <div class="booking-room-modal__type">
                            Общественные бани
                        </div>
                        <h4 class="booking-room-modal__inner-heading">
                            Мужской разряд
                        </h4>
                        <div class="booking-room-modal__inner-text">
                            Наши бани начинаются с просторных раздевалок и комфортных душевых. Время между парениями
                            можно провести в зоне отдыха, рассчитанной на 150 человек. Из мужского отделения вы можете
                            свободно попасть в общую зону, которая располагается на втором этаже. Посещение общей зоны
                            включено в стоимость входного билета.
                        </div>
                        <div class="booking-room-modal__schedule">
                            <div class="booking-room-modal__schedule-item">
                                <div class="booking-room-modal__schedule-item-key">
                                    Будние дни
                                    <button class="tooltip-button"
                                            data-tippy-content="ПН - ЧТ с 09:00 до 13:00 - 18 000 руб <br>ПН - ЧТ с 14:00 до 18:00 - 22 000 руб<br>ПН - ЧТ с 19:00 до 23:00 - 26 000 руб<br>"
                                            aria-expanded="false">?
                                    </button>
                                </div>
                                <div class="booking-room-modal__schedule-item-value">
                                    800 руб/час
                                </div>
                            </div>
                            <div class="booking-room-modal__schedule-item">
                                <div class="booking-room-modal__schedule-item-key">
                                    Выходные и праздники
                                    <button class="tooltip-button"
                                            data-tippy-content="ПТ - ВС и праздники с 09:00 до 23:00 - 30 000 руб"
                                            aria-expanded="false">?
                                    </button>
                                </div>
                                <div class="booking-room-modal__schedule-item-value">
                                    1000 руб/час
                                </div>
                            </div>
                        </div>
                        <a href="#" class="booking-room-modal__back-btn js-close-modal">
                            Вернуться к бронированию
                        </a>
                    </div>
                    <div class="booking-room-modal__right-col">
                        <ul class="booking-room-modal__list">
                            <li class="booking-room-modal__list-item">
                                <div class="booking-room-modal__card">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-person">
                                        <use xlink:href="#person"></use>
                                    </svg>
                                    <h4 class="booking-room-modal__card-title">
                                        Вместимость
                                    </h4>
                                    <div class="booking-room-modal__card-text">
                                        150 гостей
                                    </div>
                                </div>
                            </li>
                            <li class="booking-room-modal__list-item">
                                <div class="booking-room-modal__card">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-area">
                                        <use xlink:href="#area"></use>
                                    </svg>
                                    <h4 class="booking-room-modal__card-title">
                                        Общая площадь
                                    </h4>
                                    <div class="booking-room-modal__card-text">
                                        400 м2
                                    </div>
                                </div>
                            </li>
                            <li class="booking-room-modal__list-item">
                                <div class="booking-room-modal__card">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-time">
                                        <use xlink:href="#time"></use>
                                    </svg>
                                    <h4 class="booking-room-modal__card-title">
                                        Время пребывания
                                    </h4>
                                    <div class="booking-room-modal__card-text">
                                        слот от 3 часов
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="complex-modal js-modal" id="complex-modal">
    <div class="complex-modal__inner">
        <button class="complex-modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                <use xlink:href="#cross"></use>
            </svg>
        </button>
        <ul class="complex-modal__list">
            <li class="complex-modal__list-item">
                <a href="#" class="complex-modal__card">
                    <div class="complex-modal__card-image-container">
                        <img src="img/complex/1.webp" alt="" class="complex-modal__card-image">
                        <div class="complex-modal__card-location">
                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#location"></use>
                            </svg>
                            Новорижское шоссе
                        </div>
                    </div>
                    <div class="complex-modal__card-content">
                        <h3 class="complex-modal__card-title">
                            “ЖАР-ПТИЦА” НОВАЯ РИГА
                        </h3>
                        <div class="complex-modal__card-title-text">
                            Загородный банный клуб
                        </div>
                        <div class="complex-modal__card-btn">
                            <span class="complex-modal__card-btn-text">
                                Перейти
                                <svg width="14" height="14" aria-hidden="true" class="arrow-right">
                                    <use xlink:href="#medium-arrow-right"></use>
                                </svg>
                            </span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="complex-modal__list-item">
                <a href="#" class="complex-modal__card complex-modal__card--disabled">
                    <div class="complex-modal__card-image-container">
                        <img src="img/complex/2.webp" alt="" class="complex-modal__card-image">
                        <div class="complex-modal__card-location">
                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#location"></use>
                            </svg>
                            Нижняя Масловка, 15
                        </div>
                    </div>
                    <div class="complex-modal__card-content">
                        <h3 class="complex-modal__card-title">
                            “ЖАР-ПТИЦА” НИЖНЯЯ МАСЛОВКА
                        </h3>
                        <div class="complex-modal__card-title-text">
                            Банный комплекс
                        </div>
                        <div class="complex-modal__card-btn">
                            <span class="complex-modal__card-btn-text">
                                Вы уже тут
                                <svg width="14" height="14" aria-hidden="true" class="arrow-right">
                                    <use xlink:href="#medium-arrow-right"></use>
                                </svg>
                            </span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="booking-room-modal js-modal" id="booking-room-calendar-modal">
    <div class="container">
        <div class="booking-room-modal__inner">
            <div class="booking-room-modal__content js-booking-room-slider">
                <div class="booking-room-modal__top-row">
                    <div class="booking-room-modal__data">
                        <h1 class="room-name">ШАЛЕ</h1>
                        <p>Выбор времени бронирования</p>
                    </div>
                    <button class="booking-room-modal__close js-close-modal">
                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                            <use xlink:href="#cross"></use>
                        </svg>
                    </button>
                </div>
                <div class="zoom-container">
                    <div class="calendar-container">
                        <button id="up-button" class="news__arrows-btn news__arrows-btn--up">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-up">
                                <use xlink:href="#arrow-up"></use>
                            </svg>
                        </button>
                        <table class="calendar"></table>

                        <div class="selected-date__info">
                            <button id="down-button" class="news__arrows-btn news__arrows-btn--down">
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-up"></use>
                                </svg>
                            </button>

                            <div class="selected-info-1"></div>
                        </div>

                    </div>
                </div>
                <div class="selected-info-2"></div>

                <div class="booking__bottom-row">
                    <button class="booking__back-btn js-close-modal">


                                    <span class="booking__back-btn-text">
                                        <svg width="14" height="14" aria-hidden="true" class="arrow-right">
                                            <use xlink:href="#medium-arrow-right"></use>
                                        </svg>
                                        Назад
                                    </span>
                    </button>
                    <div class="booking__total">
                        Итого : 10 000 Руб
                    </div>

                    <button id="submitBtn" class="booking__submit-btn form-page__form-submit--loading"
                            type="submit"
                            disabled>
                        <span class="booking__submit-btn-text">
                            Далее
                            <svg width="14" height="14" aria-hidden="true" class="arrow-right">
                                <use xlink:href="#medium-arrow-right"></use>
                            </svg>
                        </span>
                        <div class="form-page__loading">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </button>
                </div>


                <div class="booking__loader">

                </div>

            </div>
        </div>
    </div>
</div>
