<div class="newsletter js-newsletter">
    <button class="newsletter__close js-newsletter-close" type="button">
        <svg width="14" height="14" aria-hidden="true" class="icon-newsletter-close">
            <use xlink:href="#newsletter-close"></use>
        </svg>
    </button>
    <div class="newsletter__slider js-newsletter-slider">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="newsletter__slider-card">
                        <h3 class="newsletter__slider-card-title">
                            Специальные цены осенью
                        </h3>
                        <div class="newsletter__slider-card-text">
                            Специальные цены на входные билеты до конца года
                        </div>
                        <a href="#" class="newsletter__slider-card-link">
                            <span class="newsletter__slider-card-link-text">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="arrow-right">
                                    <use xlink:href="#medium-arrow-right"></use>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="newsletter__slider-card">
                        <h3 class="newsletter__slider-card-title">
                            Будьте в курсе
                        </h3>
                        <div class="newsletter__slider-card-text">
                            Новых акций и классных предложений
                        </div>
                        <a href="#" class="newsletter__slider-card-link">
                            <span class="newsletter__slider-card-link-text">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="arrow-right">
                                    <use xlink:href="#medium-arrow-right"></use>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="newsletter__slider-card">
                        <h3 class="newsletter__slider-card-title">
                            Будьте в курсе
                        </h3>
                        <div class="newsletter__slider-card-text">
                            Новых акций и классных предложений
                        </div>
                        <form action="/" method="POST" class="newsletter__form" data-need-validation=""
                            id="newsletter-errors">
                            <div class="newsletter__form-row">
                                <input type="email" name="email" class="newsletter__form-input" required=""
                                    placeholder="Email" data-parsley-errors-container="#newsletter-errors">
                                <button class="newsletter__form-submit" type="submit">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="newsletter__slider-pagination">

        </div>
    </div>
</div>