{{#extend "layout"}}
{{#content "main"}}



<section class="about-intro">
    <div class="container">
        <div class="about-intro__content">
            <h1 class="about-intro__main-heading">О банном комплексе</h1>
            <h2 class="about-intro__secondary-heading">
                С уважением
                к&nbsp;традициям
            </h2>
            <div class="about-intro__text">
                Здания банного комплекса «ЖАР-ПТИЦА» включены в список культурно-исторического наследия Москвы,
                построенные в конце XIX века, они и сегодня впечатляют своим размахом. На этапе реконструкции мы
                сохранили первозданную аутентичность этого места вместе с некоторыми элементами декора, чтобы гости
                могли соприкоснуться со сказкой.
            </div>
        </div>
    </div>
</section>
<section class="gallery">
    <div class="container">
        <div class="gallery__slider js-gallery-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-1">
                            <img src="img/gallery/1.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-2">
                            <img src="img/gallery/2.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-3">
                            <img src="img/gallery/3.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-1">
                            <img src="img/gallery/4.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-2">
                            <img src="img/gallery/5.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-space js-about-space">
    <div class="container">
        <div class="about-space__content">


            <div class="about-space__top-row">
                <h2 class="about-space__heading">
                    Многофункциональное<br>
                    пространство
                </h2>
                <div class="about-space__arrows">
                    <button class="about-space__arrows-btn about-space__arrows-btn--prev">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="about-space__arrows-btn about-space__arrows-btn--next">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="about-space__bottom-row">
                <div class="about-space__left-col">
                    <ul class="about-space__list">
                        <li class="about-space__list-item">
                            <a href="#" class="about-space__link">
                                Разряды
                            </a>
                        </li>
                        <li class="about-space__list-item">
                            <a href="#" class="about-space__link">
                                Общая зона
                            </a>
                        </li>
                        <li class="about-space__list-item">
                            <a href="#" class="about-space__link">
                                Номера
                            </a>
                        </li>
                        <li class="about-space__list-item">
                            <a href="#" class="about-space__link">
                                Spa
                            </a>
                        </li>
                    </ul>
                    <div class="about-space__text-content-wrapper">
                        <div class="about-space__text">
                            Банный комплекс «ЖАР-ПТИЦА» – настоящее тридевятое царство, где есть все, чего душа
                            пожелает: масштабные общественные бани, включающие мужской и женский разряды с выходом в
                            общую зону, помещениями для SPA-процедур, пространством для отдыха и рестораном; шесть
                            индивидуальных номерных бань, а также собственный паркинг для гостей.
                        </div>
                        <a href="#" class="about-space__order-link">
                            Забронировать
                            <svg width="14" height="14" aria-hidden="true" class="icon-medium-arrow-right">
                                <use xlink:href="#medium-arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="about-space__right-col">
                    <div class="about-space__slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="about-space__slider-card">
                                        <img src="img/about-space.jpg" alt="" class="about-space__slider-card-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="about-space__slider-card">
                                        <img src="img/about-space.jpg" alt="" class="about-space__slider-card-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="about-space__slider-card">
                                        <img src="img/about-space.jpg" alt="" class="about-space__slider-card-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="about-space__rotating-text">
                            <img src="img/about-space-rotating-text.svg" alt=""
                                class="about-space__rotating-text-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="features">
    <div class="container">
        <div class="features__content">
            <div class="features__left-col features__left-col--mobile-fullwidth features__left-col--mobile-last">
                <div class="features__image-wrapper js-parallax-image">
                    <div class="features__image-parallax js-parallax-image-wrapper">
                        <img src="img/about-features/1.jpg" alt="" class="features__image">
                    </div>
                </div>
                <h3 class="features__title">
                    Акцент на качестве
                </h3>
                <div class="features__text features__text--fullwidth">
                    Банных услуг в нашем комплексе – ни в сказке сказать, ни пером описать. Но за каждой из них стоят
                    наши сотрудники, вежливые и отзывчивые профессионалы своего дела. Отдельная гордость — пармейстеры
                    «ЖАР-ПТИЦЫ», которые не только владеют банными традициями из всех уголков России, но и создают на их
                    основе авторские техники парения в соответствии с современными знаниями о здоровье и красоте.
                </div>

            </div>
            <div class="features__right-col features__right-col--mobile-right-aligned">
                {{!-- <div class="features__slider js-features-slider">

                    <div class="features__slider-arrows">
                        <button class="features__slider-arrow features__slider-arrow--prev">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                        </button>
                        <button class="features__slider-arrow features__slider-arrow--next">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="features__slider-card">
                                    <div class="features__slider-card-image-container js-parallax-image">
                                        <div class="features__slider-card-parallax js-parallax-image-wrapper">
                                            <img src="img/about-features/2.jpg" alt=""
                                                class="features__slider-card-image">
                                        </div>
                                    </div>
                                    <h4 class="features__slider-card-title">
                                        Современная сказка
                                    </h4>
                                    <div class="features__slider-card-text">
                                        <p>
                                            Просторные и светлые помещения общественных бань с высокими потолками и
                                            большими окнами во всю стену оформлены в стиле современного минимализма с
                                            акцентом на природные оттенки и материалы.
                                        </p>
                                    </div>
                                    <a href="#" class="features__slider-card-link">
                                        Забронировать
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#medium-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="features__slider-card">
                                    <div class="features__slider-card-image-container js-parallax-image">
                                        <div class="features__slider-card-parallax js-parallax-image-wrapper">
                                            <img src="img/about-features/2.jpg" alt=""
                                                class="features__slider-card-image">
                                        </div>
                                    </div>
                                    <h4 class="features__slider-card-title">
                                        Современная сказка
                                    </h4>
                                    <div class="features__slider-card-text">
                                        <p>
                                            Просторные и светлые помещения общественных бань с высокими потолками и
                                            большими окнами во всю стену оформлены в стиле современного минимализма с
                                            акцентом на природные оттенки и материалы.
                                        </p>
                                    </div>
                                    <a href="#" class="features__slider-card-link">
                                        Забронировать
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#medium-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="features__slider-card">
                                    <div class="features__slider-card-image-container js-parallax-image">
                                        <div class="features__slider-card-parallax js-parallax-image-wrapper">
                                            <img src="img/about-features/2.jpg" alt=""
                                                class="features__slider-card-image">
                                        </div>
                                    </div>
                                    <h4 class="features__slider-card-title">
                                        Современная сказка
                                    </h4>
                                    <div class="features__slider-card-text">
                                        <p>
                                            Просторные и светлые помещения общественных бань с высокими потолками и
                                            большими окнами во всю стену оформлены в стиле современного минимализма с
                                            акцентом на природные оттенки и материалы.
                                        </p>
                                    </div>
                                    <a href="#" class="features__slider-card-link">
                                        Забронировать
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#medium-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>
                </div> --}}
                <div class="features__image-wrapper js-parallax-image">
                    <div class="features__image-parallax js-parallax-image-wrapper">
                        <img src="img/about-features/2.jpg" alt="" class="features__image">
                    </div>
                </div>
                <h3 class="features__title">
                    Современная сказка
                </h3>
                <div class="features__text features__text--fullwidth">
                    Просторные и светлые помещения общественных бань с высокими потолками и
                                            большими окнами во всю стену оформлены в стиле современного минимализма с
                                            акцентом на природные оттенки и материалы.
                </div>
                <a href="#" class="features__slider-card-link">
                                        Забронировать
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#medium-arrow-right"></use>
                                        </svg>
                                    </a>
            </div>

        </div>

    </div>
</section>

<section class="about-food">
    <div class="about-food__image-wrapper js-parallax-image">
        <div class="about-food__image-parallax-wrapper js-parallax-image-wrapper">

            <picture>
                <source srcset="img/about-food-mobile.jpg" media="(max-width: 640px)">
                <img src="img/about-food.jpg" alt="MDN" class="about-food__image">
            </picture>
        </div>
    </div>
    <div class="container">

        <div class="about-food__content">


            <div class="about-food__row">
                <div class="about-food__left-col">
                    <h2 class="about-food__heading">
                        Гастрономические
                        впечатления
                    </h2>
                </div>
                <div class="about-food__right-col">
                    <div class="about-food__text">
                        <p>
                            Чтобы вы могли перекусить между заходами в парную и сытно поесть после окончания процедур,
                            на
                            территории банного комплекса работает бар и ресторан. Сектор посадки расположен в мужском и
                            женском разрядах, на втором этаже в релакс зоне доступен заказ закусок и напитков.
                        </p>
                        <p>
                            Отдыхая в банных апартаментах, вы можете заказать из нашего меню авторские блюда русской и
                            европейской кухни, которые оперативно доставят в ваш номер.
                        </p>
                    </div>
                    <a href="#" class="about-food__link">
                        Меню
                        <svg width="14" height="14" aria-hidden="true" class="arrow-right">
                            <use xlink:href="#medium-arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="about-food__slider js-about-food-slider">
                <button class="about-food__slider-prev">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </button>
                <button class="about-food__slider-next">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="about-food__slider-card">
                                <img src="img/about-food-slider/1.jpg" alt="" class="about-food__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-food__slider-card">
                                <img src="img/about-food-slider/2.jpg" alt="" class="about-food__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-food__slider-card">
                                <img src="img/about-food-slider/3.jpg" alt="" class="about-food__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-food__slider-card">
                                <img src="img/about-food-slider/1.jpg" alt="" class="about-food__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-food__slider-card">
                                <img src="img/about-food-slider/2.jpg" alt="" class="about-food__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-food__slider-card">
                                <img src="img/about-food-slider/3.jpg" alt="" class="about-food__slider-card-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-new-age">
    <div class="container">
        <div class="about-new-age__content">


            <h2 class="about-new-age__small-heading">
                «ЖАР-ПТИЦА»

            </h2>
            <h3 class="about-new-age__large-heading">
                новая эра<br>
                банного отдыха
            </h3>
            <a href="#" class="about-new-age__link">
                <span class="about-new-age__link-text">
                    Забронировать
                    <svg width="14" height="14" aria-hidden="true" class="arrow-right">
                        <use xlink:href="#medium-arrow-right"></use>
                    </svg>
                </span>
            </a>
        </div>
    </div>
</section>

<section class="gallery">
    <div class="container">
        <div class="gallery__slider js-gallery-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-1">
                            <img src="img/gallery/1.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-2">
                            <img src="img/gallery/2.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-3">
                            <img src="img/gallery/3.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-1">
                            <img src="img/gallery/4.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-2">
                            <img src="img/gallery/5.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{{> subscribe }}


{{/content}}
{{/extend}}