{{#extend "layout"}}
    {{#content "main"}}


        <section class="booking">
            <div class="container">
                <div class="booking__content">
                    <h1 class="booking__heading">
                        Аренда банного номера
                    </h1>
                    <div class="booking__inner">

                        <form action="/" method="POST" class="booking__form">
                            <div class="booking__common-search booking__common-search--full">
                                <div class="booking__common-search-field" id="date-container">
                                    <div class="booking__common-search-field-label">
                                        Дата
                                    </div>
                                    <input type="text"
                                        class="booking__common-search-input booking__common-search-input--calendar js-datepicker"
                                        value="29.08.2022" data-picker-container="#date-container" readonly="">
                                </div>
                            </div>
                            <div class="booking__room">
                                <h3 class="booking__room-heading">
                                    Выберете номер
                                </h3>
                                <div class="booking__room-grid">
                                  <div class="booking__room-slider-card">
                                    <div class="booking__room-slider-card-image-container">
                                        <img src="img/booking-room-slider-image.jpg" alt=""
                                            class="booking__room-slider-card-image">
                                        <div class="booking__room-slider-card-image-overlay"></div>
                                        <div class="booking__room-slider-card-video-wrapper">
                                            <video preload="metadata" muted="">
                                                <source src="assets/video/stories-video.mp4"
                                                    type="video/mp4">
                                            </video>
                                        </div>
                                    </div>
                                    <div class="booking__room-slider-card-content">
                                        <h4 class="booking__room-slider-card-title">
                                            Шале
                                        </h4>
                                        <ul class="booking__room-slider-card-features-list">
                                            <li class="booking__room-slider-card-features-list-item">
                                                до 10 гостей
                                            </li>
                                            <li class="booking__room-slider-card-features-list-item">
                                                от 5000 руб./час
                                            </li>
                                        </ul>
                                        <div class="booking__room-slider-card-btns">
                                            <a href="#" class="booking__room-slider-card-link">
                                                Подробнее
                                            </a>
                                            <label class="booking__room-slider-card-checkbox">
                                                <input type="radio" name="room" value="3"
                                                    class="booking__room-slider-card-checkbox-input">
                                                <span
                                                    class="booking__room-slider-card-checkbox-content">
                                                    Выбрать
                                                </span>
                                            </label>
                                            <div
                                                class="booking__room-slider-card-amount js-room-amount">
                                                <button class="booking__room-slider-card-amount-btn"
                                                    type="button">
                                                    <svg width="14" height="14" aria-hidden="true"
                                                        class="icon-minus">
                                                        <use xlink:href="#minus"></use>
                                                    </svg>
                                                </button>
                                                <input type="text"
                                                    class="booking__room-slider-card-amount-input"
                                                    name="room-3-amount" readonly="" value="1"
                                                    data-units="слот, слота, слотов" max="4">
                                                <button class="booking__room-slider-card-amount-btn"
                                                    type="button">
                                                    <svg width="14" height="14" aria-hidden="true"
                                                        class="icon-plus">
                                                        <use xlink:href="#plus"></use>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="booking__room-slider-card">
                                    <div class="booking__room-slider-card-image-container">
                                        <img src="img/booking-room-slider-image.jpg" alt=""
                                            class="booking__room-slider-card-image">
                                        <div class="booking__room-slider-card-image-overlay"></div>
                                        <div class="booking__room-slider-card-video-wrapper">
                                            <video preload="metadata" muted="">
                                                <source src="assets/video/stories-video.mp4"
                                                    type="video/mp4">
                                            </video>
                                        </div>
                                    </div>
                                    <div class="booking__room-slider-card-content">
                                        <h4 class="booking__room-slider-card-title">
                                            Скандинавия
                                        </h4>
                                        <ul class="booking__room-slider-card-features-list">
                                            <li class="booking__room-slider-card-features-list-item">
                                                до 10 гостей
                                            </li>
                                            <li class="booking__room-slider-card-features-list-item">
                                                от 5000 руб./час
                                            </li>
                                        </ul>
                                        <div class="booking__room-slider-card-btns">
                                            <a href="#" class="booking__room-slider-card-link">
                                                Подробнее
                                            </a>
                                            <label class="booking__room-slider-card-checkbox">
                                                <input type="radio" name="room" value="2"
                                                    class="booking__room-slider-card-checkbox-input">
                                                <span
                                                    class="booking__room-slider-card-checkbox-content">
                                                    Выбрать
                                                </span>
                                            </label>
                                            <div
                                                class="booking__room-slider-card-amount js-room-amount">
                                                <button class="booking__room-slider-card-amount-btn"
                                                    type="button">
                                                    <svg width="14" height="14" aria-hidden="true"
                                                        class="icon-minus">
                                                        <use xlink:href="#minus"></use>
                                                    </svg>
                                                </button>
                                                <input type="text"
                                                    class="booking__room-slider-card-amount-input"
                                                    name="room-2-amount" readonly="" value="1"
                                                    data-units="слот, слота, слотов">
                                                <button class="booking__room-slider-card-amount-btn"
                                                    type="button">
                                                    <svg width="14" height="14" aria-hidden="true"
                                                        class="icon-plus">
                                                        <use xlink:href="#plus"></use>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="booking__room-slider-card">
                                      <div class="booking__room-slider-card-image-container">
                                          <img src="img/booking-room-slider-image.jpg" alt=""
                                              class="booking__room-slider-card-image">
                                          <div class="booking__room-slider-card-image-overlay"></div>
                                          <div class="booking__room-slider-card-video-wrapper">
                                              <video preload="metadata" muted="">
                                                  <source src="assets/video/stories-video.mp4"
                                                      type="video/mp4">
                                              </video>
                                          </div>
                                      </div>
                                      <div class="booking__room-slider-card-content">
                                          <h4 class="booking__room-slider-card-title">
                                              Шале
                                          </h4>
                                          <ul class="booking__room-slider-card-features-list">
                                              <li class="booking__room-slider-card-features-list-item">
                                                  до 10 гостей
                                              </li>
                                              <li class="booking__room-slider-card-features-list-item">
                                                  от 5000 руб./час
                                              </li>
                                          </ul>
                                          <div class="booking__room-slider-card-btns">
                                              <a href="#" class="booking__room-slider-card-link">
                                                  Подробнее
                                              </a>
                                              <label class="booking__room-slider-card-checkbox">
                                                  <input type="radio" name="room" value="1"
                                                      class="booking__room-slider-card-checkbox-input">
                                                  <span
                                                      class="booking__room-slider-card-checkbox-content">
                                                      Выбрать
                                                  </span>
                                              </label>
                                              <div
                                                  class="booking__room-slider-card-amount js-room-amount">
                                                  <button class="booking__room-slider-card-amount-btn"
                                                      type="button">
                                                      <svg width="14" height="14" aria-hidden="true"
                                                          class="icon-minus">
                                                          <use xlink:href="#minus"></use>
                                                      </svg>
                                                  </button>
                                                  <input type="text"
                                                      class="booking__room-slider-card-amount-input"
                                                      name="room-1-amount" readonly="" value="1"
                                                      data-units="слот, слота, слотов">
                                                  <button class="booking__room-slider-card-amount-btn"
                                                      type="button">
                                                      <svg width="14" height="14" aria-hidden="true"
                                                          class="icon-plus">
                                                          <use xlink:href="#plus"></use>
                                                      </svg>
                                                  </button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="booking__room-slider-card">
                                    <div class="booking__room-slider-card-image-container">
                                        <img src="img/booking-room-slider-image.jpg" alt=""
                                            class="booking__room-slider-card-image">
                                        <div class="booking__room-slider-card-image-overlay"></div>
                                        <div class="booking__room-slider-card-video-wrapper">
                                            <video preload="metadata" muted="">
                                                <source src="assets/video/stories-video.mp4"
                                                    type="video/mp4">
                                            </video>
                                        </div>
                                    </div>
                                    <div class="booking__room-slider-card-content">
                                        <h4 class="booking__room-slider-card-title">
                                            Шале
                                        </h4>
                                        <ul class="booking__room-slider-card-features-list">
                                            <li class="booking__room-slider-card-features-list-item">
                                                до 10 гостей
                                            </li>
                                            <li class="booking__room-slider-card-features-list-item">
                                                от 5000 руб./час
                                            </li>
                                        </ul>
                                        <div class="booking__room-slider-card-btns">
                                            <a href="#" class="booking__room-slider-card-link">
                                                Подробнее
                                            </a>
                                            <label class="booking__room-slider-card-checkbox">
                                                <input type="radio" name="room" value="3"
                                                    class="booking__room-slider-card-checkbox-input">
                                                <span
                                                    class="booking__room-slider-card-checkbox-content">
                                                    Выбрать
                                                </span>
                                            </label>
                                            <div
                                                class="booking__room-slider-card-amount js-room-amount">
                                                <button class="booking__room-slider-card-amount-btn"
                                                    type="button">
                                                    <svg width="14" height="14" aria-hidden="true"
                                                        class="icon-minus">
                                                        <use xlink:href="#minus"></use>
                                                    </svg>
                                                </button>
                                                <input type="text"
                                                    class="booking__room-slider-card-amount-input"
                                                    name="room-3-amount" readonly="" value="1"
                                                    data-units="слот, слота, слотов" max="4">
                                                <button class="booking__room-slider-card-amount-btn"
                                                    type="button">
                                                    <svg width="14" height="14" aria-hidden="true"
                                                        class="icon-plus">
                                                        <use xlink:href="#plus"></use>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        {{> subscribe }}


    {{/content}}
{{/extend}}