{{#extend "layout"}}
{{#content "main"}}


<section class="certificates-intro">
    <div class="container">
        <div class="certificates-intro__row">
            <div class="certificates-intro__left-col">
                <div class="certificates-intro__label">
                    Сказочный дар
                </div>
                <h2 class="certificates-intro__heading">
                    Подарочные<br>
                    сертификаты
                </h2>
                <div class="certificates-intro__text">
                    Яркие банные впечатления и здоровый отдых – лучший подарок на все случаи жизни
                </div>
            </div>
            <div class="certificates-intro__right-col">
                <img src="img/certificates.png" alt="" class="certificates-intro__image">
            </div>
        </div>
    </div>
</section>

<section class="certificates-gifts js-tabs">
    <div class="container">
        <h2 class="certificates-gifts__heading">
            Выберите сказочный&nbsp;подарок
        </h2>
        <div class="certificates-gifts__tabs js-tabs">
            <div class="certificates-gifts__tabs-nav">
                <a href="#" class="certificates-gifts__tabs-nav-btn js-tabs-btn">
                    Мужчинам
                </a>
                <a href="#" class="certificates-gifts__tabs-nav-btn js-tabs-btn">
                    Девушкам
                </a>
                <a href="#" class="certificates-gifts__tabs-nav-btn js-tabs-btn">
                    Парам
                </a>
                <a href="#" class="certificates-gifts__tabs-nav-btn js-tabs-btn">
                    Депозитные
                </a>
                <a href="#" class="certificates-gifts__tabs-nav-btn js-tabs-btn">
                    Все
                </a>
            </div>
            <div class="certificates-gifts__tabs-items">
                <div class="certificates-gifts__tabs-item js-tabs-item">
                    <ul class="certificates-gifts__list">
                        <li class="certificates-gifts__list-item">
                            <div class="certificates-gifts__card certificates-gifts__card--white" style="background-image: url('./img/black-sert.svg');">
                                <h3 class="certificates-gifts__card-title">
                                    Сертификат
                                </h3>
                                <p class="certificates-gifts__card-subtitle">Ритуал La Sultane de Saba: "Восточное расслабление с рукавичкой кесса"</p>
                                <div class="certificates-gifts__card-price">
                                    5 000 Руб
                                </div>
                                <div class="certificates-gifts__card-btns">
                                    <a href="#" class="certificates-gifts__card-link">
                                        Подробнее
                                    </a>
                                    <a href="#" class="certificates-gifts__card-btn">
                                        Купить
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#medium-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="certificates-gifts__list-item">
                            <div class="certificates-gifts__card">
                                <h3 class="certificates-gifts__card-title">
                                    Сертификат
                                </h3>
                                <p class="certificates-gifts__card-subtitle">Ритуал La Sultane de Saba: "Восточное расслабление с рукавичкой кесса"</p>
                                <div class="certificates-gifts__card-price">
                                    5 000 Руб
                                </div>
                                <div class="certificates-gifts__card-btns">
                                    <a href="#" class="certificates-gifts__card-link">
                                        Подробнее
                                    </a>
                                    <a href="#" class="certificates-gifts__card-btn">
                                        Купить
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#medium-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="certificates-gifts__list-item">
                            <div href="#" class="certificates-gifts__card">
                                <h3 class="certificates-gifts__card-title">
                                    Сертификат
                                </h3>
                                <div class="certificates-gifts__card-price">
                                    20 000 Руб
                                </div>
                                <a href="#" class="certificates-gifts__card-btn">
                                    Купить
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#medium-arrow-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="certificates-gifts__tabs-item js-tabs-item">
                    <ul class="certificates-gifts__list">
                        <li class="certificates-gifts__list-item">
                            <a href="#" class="certificates-gifts__card">
                                <h3 class="certificates-gifts__card-title">
                                    Сертификат
                                </h3>
                                <div class="certificates-gifts__card-price">
                                    5 000 Руб
                                </div>
                                <div class="certificates-gifts__card-btn">
                                    Купить
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#medium-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="certificates-gifts__list-item">
                            <a href="#" class="certificates-gifts__card">
                                <h3 class="certificates-gifts__card-title">
                                    Сертификат
                                </h3>
                                <div class="certificates-gifts__card-price">
                                    10 000 Руб
                                </div>
                                <div class="certificates-gifts__card-btn">
                                    Купить
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#medium-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="certificates-gifts__list-item">
                            <a href="#" class="certificates-gifts__card">
                                <h3 class="certificates-gifts__card-title">
                                    Сертификат
                                </h3>
                                <div class="certificates-gifts__card-price">
                                    20 000 Руб
                                </div>
                                <div class="certificates-gifts__card-btn">
                                    Купить
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#medium-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="certificates-gifts__tabs-item js-tabs-item">
                    <ul class="certificates-gifts__list">
                        <li class="certificates-gifts__list-item">
                            <a href="#" class="certificates-gifts__card">
                                <h3 class="certificates-gifts__card-title">
                                    Сертификат
                                </h3>
                                <div class="certificates-gifts__card-price">
                                    5 000 Руб
                                </div>
                                <div class="certificates-gifts__card-btn">
                                    Купить
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#medium-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="certificates-gifts__list-item">
                            <a href="#" class="certificates-gifts__card">
                                <h3 class="certificates-gifts__card-title">
                                    Сертификат
                                </h3>
                                <div class="certificates-gifts__card-price">
                                    10 000 Руб
                                </div>
                                <div class="certificates-gifts__card-btn">
                                    Купить
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#medium-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="certificates-gifts__list-item">
                            <a href="#" class="certificates-gifts__card">
                                <h3 class="certificates-gifts__card-title">
                                    Сертификат
                                </h3>
                                <div class="certificates-gifts__card-price">
                                    20 000 Руб
                                </div>
                                <div class="certificates-gifts__card-btn">
                                    Купить
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#medium-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="certificates-gifts__tabs-item js-tabs-item">
                    <ul class="certificates-gifts__list">
                        <li class="certificates-gifts__list-item">
                            <a href="#" class="certificates-gifts__card">
                                <h3 class="certificates-gifts__card-title">
                                    Сертификат
                                </h3>
                                <div class="certificates-gifts__card-price">
                                    5 000 Руб
                                </div>
                                <div class="certificates-gifts__card-btn">
                                    Купить
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#medium-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="certificates-gifts__list-item">
                            <a href="#" class="certificates-gifts__card">
                                <h3 class="certificates-gifts__card-title">
                                    Сертификат
                                </h3>
                                <div class="certificates-gifts__card-price">
                                    10 000 Руб
                                </div>
                                <div class="certificates-gifts__card-btn">
                                    Купить
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#medium-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="certificates-gifts__list-item">
                            <a href="#" class="certificates-gifts__card">
                                <h3 class="certificates-gifts__card-title">
                                    Сертификат
                                </h3>
                                <div class="certificates-gifts__card-price">
                                    20 000 Руб
                                </div>
                                <div class="certificates-gifts__card-btn">
                                    Купить
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#medium-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="certificates-gifts__tabs-item js-tabs-item">
                    <ul class="certificates-gifts__list">
                        <li class="certificates-gifts__list-item">
                            <a href="#" class="certificates-gifts__card">
                                <h3 class="certificates-gifts__card-title">
                                    Сертификат
                                </h3>
                                <div class="certificates-gifts__card-price">
                                    5 000 Руб
                                </div>
                                <div class="certificates-gifts__card-btn">
                                    Купить
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#medium-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="certificates-gifts__list-item">
                            <a href="#" class="certificates-gifts__card">
                                <h3 class="certificates-gifts__card-title">
                                    Сертификат
                                </h3>
                                <div class="certificates-gifts__card-price">
                                    10 000 Руб
                                </div>
                                <div class="certificates-gifts__card-btn">
                                    Купить
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#medium-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="certificates-gifts__list-item">
                            <a href="#" class="certificates-gifts__card">
                                <h3 class="certificates-gifts__card-title">
                                    Сертификат
                                </h3>
                                <div class="certificates-gifts__card-price">
                                    20 000 Руб
                                </div>
                                <div class="certificates-gifts__card-btn">
                                    Купить
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#medium-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="certificates-rules">
    <div class="container">
        <h2 class="certificates-rules__heading">
            Правила пользования
        </h2>
        <div class="certificates-rules__accordions-row">
            <div class="certificates-rules__accordions-col">
                <div class="certificates-rules__accordion js-accordion" data-close-other="">
                    <div class="certificates-rules__accordion-btn js-accordion-btn">
                        Как воспользоваться сертификатом?
                    </div>
                    <div class="certificates-rules__accordion-content js-accordion-content">
                        <div class="certificates-rules__accordion-content-inner">
                            Ответ описание на данный вопрос
                            Подробный интересный
                        </div>
                    </div>
                </div>
                <div class="certificates-rules__accordion js-accordion" data-close-other="">
                    <div class="certificates-rules__accordion-btn js-accordion-btn">
                        Как долго действует сертификат?
                    </div>
                    <div class="certificates-rules__accordion-content js-accordion-content">
                        <div class="certificates-rules__accordion-content-inner">
                            Ответ описание на данный вопрос
                            Подробный интересный
                        </div>
                    </div>
                </div>
                <div class="certificates-rules__accordion js-accordion" data-close-other="">
                    <div class="certificates-rules__accordion-btn js-accordion-btn">
                        Можно ли использовать несколько
                        сертификатов одновременно?
                    </div>
                    <div class="certificates-rules__accordion-content js-accordion-content">
                        <div class="certificates-rules__accordion-content-inner">
                            Ответ описание на данный вопрос
                            Подробный интересный
                        </div>
                    </div>
                </div>
                <div class="certificates-rules__accordion js-accordion" data-close-other="">
                    <div class="certificates-rules__accordion-btn js-accordion-btn">
                        Могу я сдать сертификат и получить деньги?
                    </div>
                    <div class="certificates-rules__accordion-content js-accordion-content">
                        <div class="certificates-rules__accordion-content-inner">
                            Ответ описание на данный вопрос
                            Подробный интересный
                        </div>
                    </div>
                </div>
            </div>
            <div class="certificates-rules__accordions-col">
                <div class="certificates-rules__accordion js-accordion" data-close-other="">
                    <div class="certificates-rules__accordion-btn js-accordion-btn">
                        На что можно потратить сертификат?
                    </div>
                    <div class="certificates-rules__accordion-content js-accordion-content">
                        <div class="certificates-rules__accordion-content-inner">
                            Ответ описание на данный вопрос
                            Подробный интересный
                        </div>
                    </div>
                </div>
                <div class="certificates-rules__accordion js-accordion" data-close-other="">
                    <div class="certificates-rules__accordion-btn js-accordion-btn">
                        Можно ли разделить сертификат
                        на несколько посещений?
                    </div>
                    <div class="certificates-rules__accordion-content js-accordion-content">
                        <div class="certificates-rules__accordion-content-inner">
                            Ответ описание на данный вопрос
                            Подробный интересный
                        </div>
                    </div>
                </div>
                <div class="certificates-rules__accordion js-accordion" data-close-other="">
                    <div class="certificates-rules__accordion-btn js-accordion-btn">
                        Как быть если сумма выбранных услуг
                        больше номинала сертификата?
                    </div>
                    <div class="certificates-rules__accordion-content js-accordion-content">
                        <div class="certificates-rules__accordion-content-inner">
                            Ответ описание на данный вопрос
                            Подробный интересный
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="gallery">
    <div class="container">
        <div class="gallery__slider js-gallery-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-1">
                            <img src="img/gallery/1.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-2">
                            <img src="img/gallery/2.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-3">
                            <img src="img/gallery/3.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-1">
                            <img src="img/gallery/4.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-2">
                            <img src="img/gallery/5.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{{> subscribe }}


{{/content}}
{{/extend}}