{{#extend "layout"}}
    {{#content "main"}}
    <section class="booking">
      <div class="container">
        <div class="circle-date">
          <div class="js-circle-date" data-date="2024-05-08"></div>
          <div class="js-circle-title"></div>
        </div>
      </div>
    </section>
    {{/content}}
{{/extend}}