{{#extend "layout"}}
    {{#content "main"}}
    <section class="booking">
      <div class="container">
        <div class="circle-date">
        <div class="circle-date__current js-circle-date" data-date="2024-05-08"></div>
        <div class="circle-date__title js-circle-title">дней</div>
        <div class="circle-date__subtitle">до старта <br>школы</div>
      </div>
      </div>
    </section>
    {{/content}}
{{/extend}}