{{#extend "layout"}}
{{#content "main"}}


<section class="contacts-page">
    <div class="container">
        <h1 class="contacts-page__heading">
            Контакты
        </h1>
        <div class="contacts-page__heading-text">
            <p>
                Удобное расположение, собственная парковка
            </p>
            <p>
                Будем рады вас видеть и готовы ответить на любые вопросы
            </p>
        </div>
        <div class="contacts-page__map">
            <div class="contacts-page__map-wrapper js-map" data-coords="55.791081, 37.574525"
                data-center="55.791081, 37.574525" data-zoom="14">
                <div class="contacts-page__map-wrapper-inner">
                    <div class="contacts-page__map-element js-map-element">

                    </div>
                </div>
            </div>
            <div class="contacts-page__info">

                <a href="tel:+79813342222" class="contacts-page__phone-link"> +7 981 334 22 22</a>
                <div class="contacts-page__info-text">

                    <p>
                        Нижняя Масловка, 15
                    </p>
                    <p>
                        Ежедневно 8:00-00:00
                    </p>
                </div>
                <ul class="contacts-page__closest">
                    <li class="contacts-page__closest-item">
                        <svg width="14" height="14" aria-hidden="true" class="icon-metro">
                            <use xlink:href="#metro"></use>
                        </svg>
                        Динамо 10 мин
                    </li>
                    <li class="contacts-page__closest-item">
                        <svg width="14" height="14" aria-hidden="true" class="icon-metro">
                            <use xlink:href="#metro"></use>
                        </svg>
                        Савеловская 5 мин
                    </li>
                    <li class="contacts-page__closest-item">
                        <svg width="14" height="14" aria-hidden="true" class="icon-location">
                            <use xlink:href="#location"></use>
                        </svg>
                        Рядом с ТТК
                    </li>
                    <li class="contacts-page__closest-item">
                        <svg width="14" height="14" aria-hidden="true" class="icon-parking">
                            <use xlink:href="#parking"></use>
                        </svg>
                        Своя парковка
                    </li>
                </ul>

                <a href="#" class="contacts-page__plan">
                    карта и план проезда
                </a>

                <ul class="contacts-page__social-list">
                    <li class="contacts-page__social-list-item">
                        <a href="#" class="contacts-page__social-link">
                            <img src="img/social/facebook-dark.svg" alt="" class="contacts-page__social-link-icon">
                        </a>
                    </li>
                    <li class="contacts-page__social-list-item">
                        <a href="#" class="contacts-page__social-link">
                            <img src="img/social/telegram-dark.svg" alt="" class="contacts-page__social-link-icon">
                        </a>
                    </li>
                    <li class="contacts-page__social-list-item">
                        <a href="#" class="contacts-page__social-link">
                            <img src="img/social/vkontakte-dark.svg" alt="" class="contacts-page__social-link-icon">
                        </a>
                    </li>
                    <li class="contacts-page__social-list-item">
                        <a href="#" class="contacts-page__social-link">
                            <img src="img/social/instagram-dark.svg" alt="" class="contacts-page__social-link-icon">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="contacts-page__offices">
            <ul class="contacts-page__offices-list">
                <li class="contacts-page__offices-list-item">
                    <div class="contacts-page__offices-card">
                        <h3 class="contacts-page__offices-card-title">
                            Общественные бани
                        </h3>
                        <ul class="contacts-page__offices-card-contacts-list">
                            <li class="contacts-page__offices-card-contacts-list-item">
                                <div class="contacts-page__offices-card-contacts-key">
                                    Phone
                                </div>
                                <a href="tel:+79815894444" class="contacts-page__offices-card-contacts-value">8 981 589
                                    44 44</a>
                            </li>
                            <li class="contacts-page__offices-card-contacts-list-item">
                                <div class="contacts-page__offices-card-contacts-key">
                                    Email
                                </div>
                                <a href="mailto:zhar-ptitsa@gmail.com"
                                    class="contacts-page__offices-card-contacts-value">zhar-ptitsa@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="contacts-page__offices-list-item">
                    <div class="contacts-page__offices-card">
                        <h3 class="contacts-page__offices-card-title">
                            Банные номера
                        </h3>
                        <ul class="contacts-page__offices-card-contacts-list">
                            <li class="contacts-page__offices-card-contacts-list-item">
                                <div class="contacts-page__offices-card-contacts-key">
                                    Phone
                                </div>
                                <a href="tel:+79815894444" class="contacts-page__offices-card-contacts-value">8 981 589
                                    44 44</a>
                            </li>
                            <li class="contacts-page__offices-card-contacts-list-item">
                                <div class="contacts-page__offices-card-contacts-key">
                                    Email
                                </div>
                                <a href="mailto:zhar-ptitsa@gmail.com"
                                    class="contacts-page__offices-card-contacts-value">zhar-ptitsa@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="contacts-page__offices-list-item">
                    <div class="contacts-page__offices-card">
                        <h3 class="contacts-page__offices-card-title">
                            Отдел маркетинга
                        </h3>
                        <ul class="contacts-page__offices-card-contacts-list">
                            <li class="contacts-page__offices-card-contacts-list-item">
                                <div class="contacts-page__offices-card-contacts-key">
                                    Phone
                                </div>
                                <a href="tel:+79815894444" class="contacts-page__offices-card-contacts-value">8 981 589
                                    44 44</a>
                            </li>
                            <li class="contacts-page__offices-card-contacts-list-item">
                                <div class="contacts-page__offices-card-contacts-key">
                                    Email
                                </div>
                                <a href="mailto:zhar-ptitsa@gmail.com"
                                    class="contacts-page__offices-card-contacts-value">zhar-ptitsa@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="contacts-page__offices-list-item">
                    <div class="contacts-page__offices-card">
                        <h3 class="contacts-page__offices-card-title">
                            Работа у нас
                        </h3>
                        <ul class="contacts-page__offices-card-contacts-list">
                            <li class="contacts-page__offices-card-contacts-list-item">
                                <div class="contacts-page__offices-card-contacts-key">
                                    Phone
                                </div>
                                <a href="tel:+79815894444" class="contacts-page__offices-card-contacts-value">8 981 589
                                    44 44</a>
                            </li>
                            <li class="contacts-page__offices-card-contacts-list-item">
                                <div class="contacts-page__offices-card-contacts-key">
                                    Email
                                </div>
                                <a href="mailto:zhar-ptitsa@gmail.com"
                                    class="contacts-page__offices-card-contacts-value">zhar-ptitsa@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>


<section class="write-us">
    <div class="container">
        <div class="write-us__content">
            <h2 class="write-us__heading">
                Напишите нам
            </h2>
            <form action="/" method="POST" class="write-us__form" data-need-validation="">
                <div class="write-us__form-fields">
                    <div class="write-us__form-field">
                        <input type="text" class="write-us__form-input write-us__form-input--name" placeholder="Имя"
                            required="" name="your-name">
                    </div>
                    <div class="write-us__form-field">
                        <input type="email" class="write-us__form-input write-us__form-input--email" placeholder="Email"
                            required="" name="your-email">
                    </div>
                    <div class="write-us__form-field write-us__form-field--fullwidth">
                        <textarea name="your-comment" placeholder="Сообщение" class="write-us__form-input"></textarea>
                    </div>
                </div>
                <button class="write-us__form-submit" type="submit">
                    Отправить
                </button>
            </form>
        </div>
    </div>
</section>

<section class="gallery">
    <div class="container">
        <div class="gallery__slider js-gallery-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-1">
                            <img src="img/gallery/1.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-2">
                            <img src="img/gallery/2.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-3">
                            <img src="img/gallery/3.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-1">
                            <img src="img/gallery/4.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-2">
                            <img src="img/gallery/5.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






{{/content}}
{{/extend}}