{{#extend "layout"}}
{{#content "main"}}


<section class="form-page">
    <div class="container">
        <div class="form-page__content form-page__content--success">
            <h1 class="form-page__heading">
                Спасибо!
            </h1>
            <div class="form-page__heading-text">
                <p>
                    Мы получили вашу заявку и свяжемся<br> с вами ближе к открытию!
                </p>
            </div>
            <ul class="form-page__social-list">
                <li class="form-page__social-list-item">
                    <a href="#" class="form-page__social-link">
                        <img src="img/social/facebook-dark.svg" alt="" class="form-page__social-link-icon">
                    </a>
                </li>
                <li class="form-page__social-list-item">
                    <a href="#" class="form-page__social-link">
                        <img src="img/social/telegram-dark.svg" alt="" class="form-page__social-link-icon">
                    </a>
                </li>
                <li class="form-page__social-list-item">
                    <a href="#" class="form-page__social-link">
                        <img src="img/social/vkontakte-dark.svg" alt="" class="form-page__social-link-icon">
                    </a>
                </li>
                <li class="form-page__social-list-item">
                    <a href="#" class="form-page__social-link">
                        <img src="img/social/instagram-dark.svg" alt="" class="form-page__social-link-icon">
                    </a>
                </li>
            </ul>
            <span class="form-page__button">
                <a href="/" class="form-page__form-submit button-animation">
                    <span class="button-animation__text">

                    На главную
                    <svg width="14" height="14" aria-hidden="true" class="arrow-right">
                        <use xlink:href="#medium-arrow-right"></use>
                    </svg>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>

{{> subscribe }}


{{/content}}
{{/extend}}