{{#extend "layout"}}
{{#content "main"}}


<section class="auth-panel">
    <div class="container">
        <form action="#" class="auth-panel__body">
            <h3 class="auth-panel__title mb-0">
                Введите код из смс
            </h3>

            <div class="auth-panel__desc">
                <p>
                    Мы отправили его на номер <br><b>+</b>7 (999) 99-99-93
                </p>
                {{!-- <p>
                    Введите последние 4 цифры входящего звонка
                </p> --}}
            </div>

            <div class="auth-panel__form">
                <div class="auth-panel__code auth-panel__code-sms js-otp-groups">
                    <div class="auth-panel__tip text-center js-code-error" style="display: block;">
                        Неверный код. Попробуйте ещё раз
                    </div>
                </div>
                    <button class="booking__checkout-form-submit spa__link js-submit" type="submit" disabled>
                        <span class="spa__link-text">
                            Продолжить
                            <svg width="14" height="14" aria-hidden="true" class="arrow-right">
                                <use xlink:href="#medium-arrow-right"></use>
                            </svg>
                        </span>
                        <div class="form-page__loading">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </button>
            </div>

            <div class="auth-panel__tip text-center js-timer-text">
                Получить новый код можно через <span class="js-timer" data-time="60">60</span> секунд
            </div>

            <div class="auth-panel__actions">
                <a class="auth-panel__actions-link auth-panel__actions__call js-timer-toggle js-timer-restart" href="#">Позвонить еще раз</a>
                <a class="auth-panel__actions-link auth-panel__actions__call js-timer-toggle" href="#"
                        data-tippy-content="Проблемы могут быть со стороны сотового оператора. Обратитесь в службу поддержки"
                        data-tippy-placement="bottom">
                        Мне никто не звонит
                    </a>
                <a class="auth-panel__actions-link" href="#">Изменить номер</a>
            </div>
        </form>
    </div>
</section>


{{/content}}
{{/extend}}
