{{#extend "layout"}}
{{#content "main"}}

<div class="my-content">
    <div class="container">

        <div class="my-content__row">
            <div class="my-content__left">

                <div class="container d-tablet-none">
                    {{!--  my-card --}}
                    <section class="my-card">
                        <div class="my-card__plastic">
                            <h3 class="my-card__title">Карта лояльности</h3>
                        
                            <div class="my-card__props">
                                <div class="my-card__prop">
                                    <div class="my-card__prop__label">Номер вашей карты:</div>
                                    <div class="my-card__prop__value">1987600</div>
                                </div>

                                <div class="my-card__prop">
                                    <div class="my-card__prop__label">Баланс:</div>
                                    <div class="my-card__prop__value">300 бонусов</div>
                                </div>
                            </div>

                            <div class="my-card__wallets">
                                <div class="my-card__wallet">
                                    <a href="#" class="my-card__wallet__btn">
                                        <img src="img/wallet.png" alt="" class="my-card__wallet__img">
                                        <div class="my-card__wallet__text">
                                            Добавить<br> в <span class="my-card__wallet__name">Apple Wallet</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="my-card__wallet">
                                    <a href="#" class="my-card__wallet__btn">
                                        <img src="img/wallet.png" alt="" class="my-card__wallet__img">
                                        <div class="my-card__wallet__text">
                                            Добавить<br> в <span class="my-card__wallet__name">Google Pay</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            
                            <div class="my-card__footer">
                                <a href="#" class="my-card__btn-help nice-link">Подробнее о программе лояльности</a>
                            </div>
                        </div>
                    </section>
                    {{!-- /my-card --}}
                </div>
                
                <aside class="my-menu">
                    <div class="my-menu__header">
                        <div class="my-menu__title">Мы вам рады,</div>
                        <div class="my-menu__name">Некрасова Евгения</div>
                    </div>

                    <div class="my-menu__links">
                        <a href="#" class="my-menu__link active">
                            <svg width="19" height="19" aria-hidden="true" class="my-menu__icon-diamond">
                                <use xlink:href="#diamond"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="my-menu__icon-right">
                                <use xlink:href="#medium-arrow-right"></use>
                            </svg>
                            Главная
                        </a>
                        <a href="#" class="my-menu__link">
                            <svg width="19" height="19" aria-hidden="true" class="my-menu__icon-diamond">
                                <use xlink:href="#diamond"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="my-menu__icon-right">
                                <use xlink:href="#medium-arrow-right"></use>
                            </svg>
                            Мои заказы
                           
                        </a>
                        <a href="#" class="my-menu__link">
                            <svg width="19" height="19" aria-hidden="true" class="my-menu__icon-diamond">
                                <use xlink:href="#diamond"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="my-menu__icon-right">
                                <use xlink:href="#medium-arrow-right"></use>
                            </svg>
                            Мои данные
                            
                        </a>
                        <a href="#" class="my-menu__link">
                            <svg width="19" height="19" aria-hidden="true" class="my-menu__icon-diamond">
                                <use xlink:href="#diamond"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="my-menu__icon-right">
                                <use xlink:href="#medium-arrow-right"></use>
                            </svg>
                            Потратить баллы
                        </a>
                    </div>

                    <a href="#" class="my-menu__btn-quit">
                        Выйти
                    </a>
                    
                </aside>

                
            </div>
            <div class="my-content__right">

                {{!--  my-card --}}
                <section class="my-card d-mobile-none">
                    <div class="my-card__plastic">
                        <h3 class="my-card__title">Карта лояльности</h3>
                    
                        <div class="my-card__props">
                            <div class="my-card__prop">
                                <div class="my-card__prop__label">Номер вашей карты:</div>
                                <div class="my-card__prop__value">1987600</div>
                            </div>

                            <div class="my-card__prop">
                                <div class="my-card__prop__label">Баланс:</div>
                                <div class="my-card__prop__value">300 бонусов</div>
                            </div>
                        </div>

                        <div class="my-card__wallets">
                            <div class="my-card__wallet">
                                <a href="#" class="my-card__wallet__btn">
                                    <img src="img/wallet.png" alt="" class="my-card__wallet__img">
                                    <div class="my-card__wallet__text">
                                        Добавить<br> в <span class="my-card__wallet__name">Apple Wallet</span>
                                    </div>
                                </a>
                            </div>
                            <div class="my-card__wallet">
                                <a href="#" class="my-card__wallet__btn">
                                    <img src="img/wallet.png" alt="" class="my-card__wallet__img">
                                    <div class="my-card__wallet__text">
                                        Добавить<br> в <span class="my-card__wallet__name">Google Pay</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                        <div class="my-card__footer">
                            <a href="#" class="my-card__btn-help nice-link">Подробнее о программе лояльности</a>
                        </div>
                    </div>
                </section>
                {{!-- /my-card --}}

                {{!--  my-bookings --}}
                <section class="my-bookings">
                    <h3 class="my-bookings__title">Актуальные бронирования</h3>
                    
                    <div class="my-bookings__list">
                        <div class="my-bookings__item">
                            <p>Ближайшее посещение в Общественные бани на 26 августа в 8:00</p>
                            <p>Код бронирования: <strong>ОБ9454</strong></p>
                        </div>
                        <div class="my-bookings__item">
                            <p>Ближайшее посещение в Общественные бани на 26 августа в 8:00</p>
                            <p>Код бронирования: <strong>ОБ9454</strong></p>
                        </div>
                    </div>
                    
                    <div class="my-bookings__footer">
                        <a href="#" class="my-bookings__btn-more nice-link">
                            Подробнее о заказе
                        </a>
                    </div>
                </section>
                {{!-- /my-bookings --}}

                {{!--  my-promo --}}
                <section class="my-promo">

                    <div class="my-promo__header">
                        <h3 class="my-promo__title">Персональные предложения</h3>
                        <div class="my-promo__arrows">
                            <button class="my-promo__arrow my-promo__arrow--prev">
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                    <use xlink:href="#arrow-left"></use>
                                </svg>
                            </button>
                            <button class="my-promo__arrow my-promo__arrow--next">
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div class="my-promo__slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="my-promo__item">
                                        
                                        <div class="my-promo__name">Ваш день</div>

                                        <div class="my-promo__desc">
                                            За 7 дней до и 7 дней
                                            после дня рождения
                                            скидка 15%
                                        </div>

                                        <div class="my-promo__link">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="#" class="my-promo__item">
                                        
                                        <div class="my-promo__name">Бьюти-девичник</div>

                                        <div class="my-promo__desc">
                                            Специальные условия на пакетное предложение!
                                        </div>

                                        <div class="my-promo__link">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="#" class="my-promo__item">
                                        <div class="my-promo__name">Ваш день</div>

                                        <div class="my-promo__desc">
                                            За 7 дней до и 7 дней
                                            после дня рождения
                                            скидка 15%
                                        </div>

                                        <div class="my-promo__link">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="my-promo__item">
                                        
                                        <div class="my-promo__name">Ваш день</div>

                                        <div class="my-promo__desc">
                                            За 7 дней до и 7 дней
                                            после дня рождения
                                            скидка 15%
                                        </div>

                                        <div class="my-promo__link">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="#" class="my-promo__item">
                                        
                                        <div class="my-promo__name">Бьюти-девичник</div>

                                        <div class="my-promo__desc">
                                            Специальные условия на пакетное предложение!
                                        </div>

                                        <div class="my-promo__link">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="#" class="my-promo__item">
                                        <div class="my-promo__name">Ваш день</div>

                                        <div class="my-promo__desc">
                                            За 7 дней до и 7 дней
                                            после дня рождения
                                            скидка 15%
                                        </div>

                                        <div class="my-promo__link">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                {{!-- /my-promo --}}

                {{!--  my-orders --}}
                <section class="my-orders">
                    <div class="my-orders__header">
                        <h3 class="my-orders__title">Мои заказы</h3>
                        <div class="my-orders__filter">
                            <button class="my-orders__btn-filter">Актуальные</button>
                            <button class="my-orders__btn-filter active">История</button>
                        </div>
                    </div>

                    <div class="my-orders__table">
                        <div class="my-orders__row my-orders__row--names">
                            <div>Заказ</div>  
                            <div>Наименование</div>
                            <div>Дата заказа </div>
                            <div>Стоимость</div>    
                            <div>Статус</div>  
                        </div>
                        <div class="my-orders__row">
                            <div>
                                <div>
                                    <span class="d-tablet-none">Заказ </span>№13213424
                                </div>
                                <div class="my-orders__link">
                                    <a href="#" class="my-orders__btn-more nice-link">подробнее</a>
                                </div>
                            </div>
                            <div>
                                Посещение общественных бань   
                            </div>
                            <div>
                                08.08.2022
                            </div>
                            <div>
                                13 000 Руб 
                            </div>
                            <div>
                                Оплачен
                            </div>
                        </div>
                        <div class="my-orders__row">
                            <div>
                                <div>
                                    <span class="d-tablet-none">Заказ </span>№13213424
                                </div>
                                <div class="my-orders__link">
                                    <a href="#" class="my-orders__btn-more nice-link">подробнее</a>
                                </div>
                            </div>
                            <div>
                                Аренда банного номера 
                            </div>
                            <div>
                                08.08.2022
                            </div>
                            <div>
                                13 000 Руб 
                            </div>
                            <div>
                                Оплачен
                            </div>
                        </div>
                        <div class="my-orders__row">
                            <div>
                                <div>
                                    <span class="d-tablet-none">Заказ </span>№13213424
                                </div>
                                <div class="my-orders__link">
                                    <a href="#" class="my-orders__btn-more nice-link">подробнее</a>
                                </div>
                            </div>
                            <div>
                                Подарочный сертификат
                            </div>
                            <div>
                                08.08.2022
                            </div>
                            <div>
                                13 000 Руб 
                            </div>
                            <div>
                                <div class="my-orders__pending">Обработка</div>
                            </div>
                        </div>
                    </div>
                </section>
                {{!-- /my-orders --}}

                {{!--  my-person --}}
                <section class="my-person">
                    <h3 class="my-person__title">
                        Мои данные
                    </h3>

                    <div class="my-person__data">
                        <div class="my-person__item">
                            <div class="my-person__label">Имя</div>
                            <div class="my-person__value">Некрасова Евгения</div>
                        </div>

                        <div class="my-person__item">
                            <div class="my-person__label">Дата рождения</div>
                            <div class="my-person__value">25.04.1993</div>
                        </div>

                        <div class="my-person__item">
                            <div class="my-person__label">Пол</div>
                            <div class="my-person__value">Женский</div>
                        </div>

                        <div class="my-person__item">
                            <div class="my-person__label">Телефон</div>
                            <div class="my-person__value">+7 (873) 445 - 55 - 44</div>
                        </div>

                        <div class="my-person__item">
                            <div class="my-person__label">Email</div>
                            <div class="my-person__value">evgenia.nekrasova25@gmail.com</div>
                        </div>
                    </div>
                    
                    <div class="my-person__footer">
                        <a href="#" class="my-person__btn-edit nice-link">редактировать</a>
                    </div>
                </section>
                {{!-- /my-person --}}
                
                {{!--  my-checkout --}}
                <section class="my-checkout">
                    <div class="my-checkout__return">
                        <a href="#" class="my-checkout__btn-back">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                            <span class="nice-link">Назад в меню</span>
                        </a>
                    </div>

                    <div class="my-checkout__header">
                        <div class="my-checkout__left">
                            <div class="my-checkout__title">Бронирование</div>
                            <div class="my-checkout__props">
                                <dl>
                                    <dt>Дата оформления:</dt>
                                    <dd>26.08.22</dd>
                                </dl>
                                <dl>
                                    <dt>Номер заказа:</dt>
                                    <dd>12660</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="my-checkout__code">
                            <div class="my-checkout__code__label">код брони</div>
                            <div class="my-checkout__code__value">
                                ZT459
                            </div>
                        </div>
                    </div>
                    
                    <ul class="booking__checkout-info-list">
                        <li class="booking__checkout-info-list-item">
                            <div class="booking__checkout-info-card">
                                <div class="booking__checkout-info-card-left-wrapper">


                                    <div class="booking__checkout-info-card-image-container">
                                        <img src="img/tickets/1.jpg" alt="" class="booking__checkout-info-card-image">
                                    </div>
                                    <div class="booking__checkout-info-card-title-wrapper">
                                        <h4 class="booking__checkout-info-card-title">
                                            Женский разряд
                                        </h4>
                                        <div class="booking__checkout-info-card-text">
                                            общая зона посадки
                                        </div>
                                    </div>
                                </div>
                                <div class="booking__checkout-info-card-right-wrapper">


                                    <div class="booking__checkout-info-card-summary">
                                        Слот 08:00 - 11:00 <br>
                                        10 билетов
                                    </div>
                                    <div class="booking__checkout-info-card-price">
                                        25 000 Руб

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="booking__checkout-info-list-item">
                            <div class="booking__checkout-info-card">
                                <div class="booking__checkout-info-card-left-wrapper">


                                    <div class="booking__checkout-info-card-image-container">
                                        <img src="img/tickets/2.jpg" alt="" class="booking__checkout-info-card-image">
                                    </div>
                                    <div class="booking__checkout-info-card-title-wrapper">
                                        <h4 class="booking__checkout-info-card-title">
                                            Мужской разряд
                                        </h4>
                                        <div class="booking__checkout-info-card-text">
                                            vip-комната на 6 человек
                                        </div>
                                    </div>
                                </div>
                                <div class="booking__checkout-info-card-right-wrapper">


                                    <div class="booking__checkout-info-card-summary">
                                        Слот 08:00 - 11:00 <br>
                                        1шт.
                                    </div>
                                    <div class="booking__checkout-info-card-price">
                                        2 500 Руб
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="my-checkout__footer">
                        <div class="my-checkout__discount">Скидка: - 5 000 Руб</div>
                        <div class="my-checkout__total">Итого:  10 000 Руб</div>
                        <div class="my-checkout__status">Статус: Оплачен</div>
                    </div>
                </section>
                {{!-- /my-checkout --}}

            </div>
        </div>
        

        

        

        

     

    </div>
</div>




{{/content}}
{{/extend}}