{{#extend "layout"}}
    {{#content "main"}}
        <div class="default-content">
            <div class="default-section">
                <div class="container">
                    <h1>Политика конфидициальности</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam quae, esse aliquid cum fugiat commodi eius adipisci ratione repellendus pariatur earum aspernatur beatae excepturi. Odit harum magni officiis nam itaque!</p>
                    <h2>Зоголовок 2 уровня</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero nisi nesciunt voluptate, quas unde vitae incidunt ab. Provident, dolorum dolor nesciunt, alias, asperiores tempora at rem velit sapiente obcaecati rerum.</p>
                    <h3>Зоголовок 3 уровня</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum repellendus culpa nemo consectetur facilis, possimus quaerat impedit optio provident sequi ex quia harum fuga accusamus id inventore, numquam est rem.</p>
                    <ul>
                        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non dicta beatae nulla cupiditate, magni, voluptates debitis culpa ipsa ad eum nobis quo? Non est veritatis facere debitis! Ipsam, reprehenderit suscipit.</li>
                        <li>Natus minus cum ad debitis! Aliquam totam dicta ullam quia animi maiores vitae tempore quisquam inventore, cumque ab et accusamus explicabo obcaecati reiciendis laudantium eius est veritatis vel eaque laborum.</li>
                        <li>Ab doloribus dolorem incidunt quas in dolore officia, iste tempora harum optio autem commodi dolores inventore porro exercitationem eos ducimus beatae culpa accusamus! Quas beatae minus fugiat voluptatum asperiores vel?</li>
                    </ul>
                    <a href="#">Ссылка</a>
                </div>
            </div>
        </div>
        <section class="gallery">
            <div class="container">
                <div class="gallery__slider js-gallery-slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="gallery__slider-card gallery__slider-card--type-1">
                                    <img src="img/gallery/1.jpg" alt="" class="gallery__slider-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery__slider-card gallery__slider-card--type-2">
                                    <img src="img/gallery/2.jpg" alt="" class="gallery__slider-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery__slider-card gallery__slider-card--type-3">
                                    <img src="img/gallery/3.jpg" alt="" class="gallery__slider-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery__slider-card gallery__slider-card--type-1">
                                    <img src="img/gallery/4.jpg" alt="" class="gallery__slider-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery__slider-card gallery__slider-card--type-2">
                                    <img src="img/gallery/5.jpg" alt="" class="gallery__slider-card-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{> subscribe }}

    {{/content}}
{{/extend}}