{{#extend "layout"}}
{{#content "main"}}
<div class="page-main__heading spa__main-wrapper">
    <div class="container">
        <h1 class="page-main__title js-heading">Процедуры в общественной бане</h1>
        <p class="page-main__subtitle">У нас вы сможете насладиться авторскими и традиционными парениями, массажами, а также посетить соляную комнату, хаммам, травяную бочку и другие зоны. Процедурные кабинеты рассредоточены по территории, поэтому SPA-услуги доступны посетителям всех разрядов.</p>
        <ul class="spa__list">
            <li class="spa__list-item">
                <a href="#author" class="spa__item-link">
                    Авторские парения
                </a>
            </li>
            <li class="spa__list-item">
                <a href="#decoctions" class="spa__item-link">
                    Отвары для пара
                </a>
            </li>
            <li class="spa__list-item">
                <a href="#featherbeds" class="spa__item-link">
                    Перины для полки
                </a>
            </li>
            <li class="spa__list-item">
                <a href="#manual-massages" class="spa__item-link">
                    Ручные массажи
                </a>
            </li>
            <li class="spa__list-item">
                <a href="#bath-procedures" class="spa__item-link">
                    Банные процедуры
                </a>
            </li>
            <li class="spa__list-item">
                <a href="#breakfasts" class="spa__item-link">
                    Завтраки
                </a>
            </li>
        </ul>
    </div>
</div>
<section class="programs" >
    <div class="container">
        <div class="programs__content">
            <div class="programs__blocks">
                <div class="programs__block">
                    {{!-- <h2 class="programs__block-heading js-heading">
                        Авторские<br>
                        парения
                    </h2> --}}
                    <div class="programs__inner-blocks">
                        <div class="programs__inner-block" id="author">
                            <div class="programs__inner-block__header">
                                <h2 class="programs__inner-block-heading js-heading">
                                    Авторские парения
                                </h2>
                            </div>
                            <ul class="programs__inner-block-list">
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Экспресс-пар</h4>
                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Парение «Ледяной огонь»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                С цитрусовой и эвкалиптовой ингаляцией,
                                                контраст: лед, вода, лед
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                45 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">«По-царски»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Парение с помывкой и мыльным массажем
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                90 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">«Релакс»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Парение с массажем спины и пилинг
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                90 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Экспресс-пар</h4>

                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Парение «Цитрусовая ингаляция»
                                            </h4>

                                            <div class="programs__inner-block-card-duration">
                                                45 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Экспресс-парение в 4 руки</h4>

                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Фитобаня «Клеопатра» на 2
                                                персоны</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Баня для девушек на 2 персоны
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                80 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Парение детское</h4>

                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">«Таежное»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Парение и пилинг с помывкой
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                80 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item programs__inner-block-list-item--full">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">За семь морей</h4>
                                            <p class="programs__inner-block-card-desc">Эффект: уменьшение объёмов тела, сглаживание проявлений целлюлита, выравнивание рельефа кожи, детоксикация.
                                                <br/>
                                                <br/>
                                                Водорослевое обёртывание ламинарией оказывает расслабляющее и общеукреплющее действие, нормализует биохимические процессы в эпидермисе и повышает регенеративную способность кожи.
                                                <br/>
                                                <br/>
                                                Обёртывание листами ламинарии<br/>
                                                - Предварительный прогрев в красной гималайской соляной сауне<br/>
                                                - Обёртывание листами ламинарии<br/>
                                                - Чайная церемония<br/>
                                            </p>
                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="programs__inner-block-details">
                                <p>При общей продолжительности процедур более 40 мин чайная церемония в подарок</p>
                            </div>
                        </div>
                        <div class="programs__inner-block" id="decoctions">
                            <div class="programs__inner-block__header">
                                <h2 class="programs__inner-block-heading js-heading">
                                    Отвары для пара
                                </h2>
                                <p class="programs__inner-block-subtitle">Фирменное парение в 4 руки</p>
                            </div>
                            <ul class="programs__inner-block-list">
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Пар «На травах»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Травы 5-ти видов, арома-веник из липы,
                                                мешочек с эвкалиптом
                                            </div>

                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Пар «Лаванда и мята»</h4>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Пар «Апельсин и имбирь»</h4>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Пар «Сказочный»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Арома - веник из можжевельника, пихта,
                                                арома-мешочек с цитрусом
                                            </div>

                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Пар «Эвкалипт и чабрец»</h4>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Пар чесночный</h4>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="programs__inner-block" id="featherbeds">
                            <div class="programs__inner-block__header">
                                <h2 class="programs__inner-block-heading js-heading">
                                    Перины для полки
                                </h2>
                            </div>
                            <ul class="programs__inner-block-list">
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Перина «Суворова»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Перина из свежего сена с ароматной
                                                подушкой под голову
                                            </div>

                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Перина «Ароматный пар»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Перина из сена с веничками березы, липы, дуба,
                                                пихты, можжевельника
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Перина «Зимняя»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Перина с матрасом из ароматных трав
                                                и пихтовой подушкой под голову
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Перина «Сказка»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Перина из пихты и можжевельника
                                                с эвкалиптовой подушкой
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="gallery">
    <div class="container">
        <div class="gallery__slider js-gallery-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-1">
                            <img src="img/gallery/1.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-2">
                            <img src="img/gallery/2.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-3">
                            <img src="img/gallery/3.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-1">
                            <img src="img/gallery/4.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-2">
                            <img src="img/gallery/5.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="programs">
    <div class="container">
        <div class="programs__content">
            <div class="programs__blocks">
                <div class="programs__block">
                    {{!-- <h2 class="programs__block-heading js-heading">
                        Ручные<br>
                        массажи
                    </h2> --}}
                    <div class="programs__inner-blocks">
                        <div class="programs__inner-block" id="manual-massages">
                            <div class="programs__inner-block__header">
                                <h2 class="programs__inner-block-heading js-heading">
                                    Ручные массажи
                                </h2>
                            </div>
                            <ul class="programs__inner-block-list">
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Экспресс-пар</h4>
                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Парение «Ледяной огонь»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                С цитрусовой и эвкалиптовой ингаляцией,
                                                контраст: лед, вода, лед
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                45 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">«По-царски»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Парение с помывкой и мыльным массажем
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                90 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">«Релакс»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Парение с массажем спины и пилинг
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                90 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Экспресс-пар</h4>

                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Парение «Цитрусовая ингаляция»
                                            </h4>

                                            <div class="programs__inner-block-card-duration">
                                                45 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Экспресс-парение в 4 руки</h4>

                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Фитобаня «Клеопатра» на 2
                                                персоны</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Баня для девушек на 2 персоны
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                80 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Парение детское</h4>

                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">«Таежное»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Парение и пилинг с помывкой
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                80 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="gallery">
    <div class="container">
        <div class="gallery__slider js-gallery-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-1">
                            <img src="img/gallery/1.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-2">
                            <img src="img/gallery/2.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-3">
                            <img src="img/gallery/3.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-1">
                            <img src="img/gallery/4.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-2">
                            <img src="img/gallery/5.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="programs">
    <div class="container">
        <div class="programs__content">
            <div class="programs__blocks">

                <div class="programs__block">
                    {{!-- <h2 class="programs__block-heading js-heading">
                        Банные<br>
                        процедуры
                    </h2> --}}
                    <div class="programs__inner-blocks">
                        <div class="programs__inner-block" id="bath-procedures">
                            <div class="programs__inner-block__header">
                                <h2 class="programs__inner-block-heading js-heading">
                                    Банные процедуры
                                </h2>
                            </div>
                            <ul class="programs__inner-block-list">
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Экспресс-пар</h4>
                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Парение «Ледяной огонь»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                С цитрусовой и эвкалиптовой ингаляцией,
                                                контраст: лед, вода, лед
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                45 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">«По-царски»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Парение с помывкой и мыльным массажем
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                90 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">«Релакс»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Парение с массажем спины и пилинг
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                90 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Экспресс-пар</h4>

                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Парение «Цитрусовая ингаляция»
                                            </h4>

                                            <div class="programs__inner-block-card-duration">
                                                45 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Экспресс-парение в 4 руки</h4>

                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Фитобаня «Клеопатра» на 2
                                                персоны</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Баня для девушек на 2 персоны
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                80 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Парение детское</h4>

                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">«Таежное»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Парение и пилинг с помывкой
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                80 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="gallery">
    <div class="container">
        <div class="gallery__slider js-gallery-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-1">
                            <img src="img/gallery/1.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-2">
                            <img src="img/gallery/2.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-3">
                            <img src="img/gallery/3.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-1">
                            <img src="img/gallery/4.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-2">
                            <img src="img/gallery/5.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="programs">
    <div class="container">
        <div class="programs__content">
            <div class="programs__blocks">

                <div class="programs__block">
                    {{!-- <h2 class="programs__block-heading js-heading">
                        Основное<br>
                        меню
                    </h2> --}}
                    <div class="programs__inner-blocks">
                        <div class="programs__inner-block" id="breakfasts">
                            <div class="programs__inner-block__header">
                                <h2 class="programs__inner-block-heading js-heading">
                                    завтраки
                                </h2>
                            </div>
                            <ul class="programs__inner-block-list">
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Экспресс-пар</h4>
                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Парение «Ледяной огонь»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                С цитрусовой и эвкалиптовой ингаляцией,
                                                контраст: лед, вода, лед
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                45 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">«По-царски»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Парение с помывкой и мыльным массажем
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                90 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">«Релакс»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Парение с массажем спины и пилинг
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                90 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Экспресс-пар</h4>

                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Парение «Цитрусовая ингаляция»
                                            </h4>

                                            <div class="programs__inner-block-card-duration">
                                                45 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Экспресс-парение в 4 руки</h4>

                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Фитобаня «Клеопатра» на 2
                                                персоны</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Баня для девушек на 2 персоны
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                80 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Парение детское</h4>

                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">«Таежное»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Парение и пилинг с помывкой
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                80 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="programs__cta">
                <p>
                    В стоимость включен входной билет в банный комплекс.
                    <br>
                    Вы можете приобрести онлайн электронный подарочный сертификат на одну из программ <br>"Ритуалы La Sultane de Saba"
                    <br>
                    <a href="#" class="programs__cta-link spa__link">
                        <span class="spa__link-text">
                            Купить
                            <svg width="14" height="14" aria-hidden="true" class="arrow-right">
                                <use xlink:href="#medium-arrow-right"></use>
                            </svg>
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}