{{#extend "layout"}}
{{#content "main"}}


<section class="programs">
    <div class="container">
        <div class="programs__content">
            <div class="programs__blocks">
                <div class="programs__block">
                    <h2 class="programs__block-heading js-heading">
                        Авторские<br>
                        парения
                    </h2>
                    <div class="programs__inner-blocks">
                        <div class="programs__inner-block">
                            <ul class="programs__inner-block-list">
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Экспресс-пар</h4>
                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Парение «Ледяной огонь»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                С цитрусовой и эвкалиптовой ингаляцией,
                                                контраст: лед, вода, лед
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                45 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">«По-царски»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Парение с помывкой и мыльным массажем
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                90 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">«Релакс»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Парение с массажем спины и пилинг
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                90 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Экспресс-пар</h4>

                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Парение «Цитрусовая ингаляция»
                                            </h4>

                                            <div class="programs__inner-block-card-duration">
                                                45 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Экспресс-парение в 4 руки</h4>

                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Фитобаня «Клеопатра» на 2
                                                персоны</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Баня для девушек на 2 персоны
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                80 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Парение детское</h4>

                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">«Таежное»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Парение и пилинг с помывкой
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                80 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="programs__inner-block">
                            <h3 class="programs__inner-block-heading">
                                Отвары для пара
                            </h3>
                            <ul class="programs__inner-block-list">
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Пар «На травах»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Травы 5-ти видов, арома-веник из липы,
                                                мешочек с эвкалиптом
                                            </div>

                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Пар «Лаванда и мята»</h4>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Пар «Апельсин и имбирь»</h4>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Пар «Сказочный»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Арома - веник из можжевельника, пихта,
                                                арома-мешочек с цитрусом
                                            </div>

                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Пар «Эвкалипт и чабрец»</h4>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Пар чесночный</h4>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="programs__inner-block">
                            <h3 class="programs__inner-block-heading">
                                Перины для полки
                            </h3>
                            <ul class="programs__inner-block-list">
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Перина «Суворова»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Перина из свежего сена с ароматной
                                                подушкой под голову
                                            </div>

                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Перина «Ароматный пар»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Перина из сена с веничками березы, липы, дуба,
                                                пихты, можжевельника
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Перина «Зимняя»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Перина с матрасом из ароматных трав
                                                и пихтовой подушкой под голову
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Перина «Сказка»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Перина из пихты и можжевельника
                                                с эвкалиптовой подушкой
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<section class="gallery">
    <div class="container">
        <div class="gallery__slider js-gallery-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-1">
                            <img src="img/gallery/1.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-2">
                            <img src="img/gallery/2.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-3">
                            <img src="img/gallery/3.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-1">
                            <img src="img/gallery/4.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-2">
                            <img src="img/gallery/5.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="programs">
    <div class="container">
        <div class="programs__content">
            <div class="programs__blocks">

                <div class="programs__block">
                    <h2 class="programs__block-heading js-heading">
                        Ручные<br>
                        массажи
                    </h2>
                    <div class="programs__inner-blocks">
                        <div class="programs__inner-block">
                            <ul class="programs__inner-block-list">
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Экспресс-пар</h4>
                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Парение «Ледяной огонь»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                С цитрусовой и эвкалиптовой ингаляцией,
                                                контраст: лед, вода, лед
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                45 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">«По-царски»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Парение с помывкой и мыльным массажем
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                90 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">«Релакс»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Парение с массажем спины и пилинг
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                90 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Экспресс-пар</h4>

                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Парение «Цитрусовая ингаляция»
                                            </h4>

                                            <div class="programs__inner-block-card-duration">
                                                45 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Экспресс-парение в 4 руки</h4>

                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Фитобаня «Клеопатра» на 2
                                                персоны</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Баня для девушек на 2 персоны
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                80 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Парение детское</h4>

                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">«Таежное»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Парение и пилинг с помывкой
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                80 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="gallery">
    <div class="container">
        <div class="gallery__slider js-gallery-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-1">
                            <img src="img/gallery/1.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-2">
                            <img src="img/gallery/2.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-3">
                            <img src="img/gallery/3.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-1">
                            <img src="img/gallery/4.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-2">
                            <img src="img/gallery/5.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="programs">
    <div class="container">
        <div class="programs__content">
            <div class="programs__blocks">

                <div class="programs__block">
                    <h2 class="programs__block-heading js-heading">
                        Банные<br>
                        процедуры
                    </h2>
                    <div class="programs__inner-blocks">
                        <div class="programs__inner-block">
                            <ul class="programs__inner-block-list">
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Экспресс-пар</h4>
                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Парение «Ледяной огонь»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                С цитрусовой и эвкалиптовой ингаляцией,
                                                контраст: лед, вода, лед
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                45 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">«По-царски»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Парение с помывкой и мыльным массажем
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                90 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">«Релакс»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Парение с массажем спины и пилинг
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                90 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Экспресс-пар</h4>

                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Парение «Цитрусовая ингаляция»
                                            </h4>

                                            <div class="programs__inner-block-card-duration">
                                                45 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Экспресс-парение в 4 руки</h4>

                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Фитобаня «Клеопатра» на 2
                                                персоны</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Баня для девушек на 2 персоны
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                80 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Парение детское</h4>

                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">«Таежное»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Парение и пилинг с помывкой
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                80 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="gallery">
    <div class="container">
        <div class="gallery__slider js-gallery-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-1">
                            <img src="img/gallery/1.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-2">
                            <img src="img/gallery/2.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-3">
                            <img src="img/gallery/3.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-1">
                            <img src="img/gallery/4.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-2">
                            <img src="img/gallery/5.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="programs">
    <div class="container">
        <div class="programs__content">
            <div class="programs__blocks">

                <div class="programs__block">
                    <h2 class="programs__block-heading js-heading">
                        Основное<br>
                        меню
                    </h2>
                    <div class="programs__inner-blocks">
                        <div class="programs__inner-block">
                            <h3 class="programs__inner-block-heading">
                                завтраки
                            </h3>
                            <ul class="programs__inner-block-list">
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Экспресс-пар</h4>
                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Парение «Ледяной огонь»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                С цитрусовой и эвкалиптовой ингаляцией,
                                                контраст: лед, вода, лед
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                45 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">«По-царски»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Парение с помывкой и мыльным массажем
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                90 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">«Релакс»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Парение с массажем спины и пилинг
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                90 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Экспресс-пар</h4>

                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Парение «Цитрусовая ингаляция»
                                            </h4>

                                            <div class="programs__inner-block-card-duration">
                                                45 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Экспресс-парение в 4 руки</h4>

                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Фитобаня «Клеопатра» на 2
                                                персоны</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Баня для девушек на 2 персоны
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                80 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">Парение детское</h4>

                                            <div class="programs__inner-block-card-duration">
                                                15 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                                <li class="programs__inner-block-list-item">
                                    <div class="programs__inner-block-card">
                                        <div class="programs__inner-block-card-content">
                                            <h4 class="programs__inner-block-card-title">«Таежное»</h4>
                                            <div class="programs__inner-block-card-desc">
                                                Парение и пилинг с помывкой
                                            </div>
                                            <div class="programs__inner-block-card-duration">
                                                80 мин
                                            </div>
                                        </div>
                                        <div class="programs__inner-block-card-price">
                                            5 000
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


{{/content}}
{{/extend}}