{{#extend 'layout'}}
    {{#content 'main'}}
        <section class="promo-detail promo-detail--no-slider">
            <div class="container">
                <div class="promo-detail__breadcrumbs">
                    <a href="#">Главная </a>
                    <a href="#">Новости и Акции</a>
                    <a href="#">Ваш день </a>
                </div>
                <div class="promo-detail__image-wrapper">
                    <img src="img/promo-detail-single.jpg" alt="" class="promo-detail__image">
                </div>
                <div class="promo-detail__content">
                    <div class="promo-detail__title">
                        Акция

                    </div>
                    <h1 class="promo-detail__heading">
                        Ваш день
                    </h1>
                    <div class="promo-detail__text">
                        <p>
                            Это – наш самый просторный банный номер, который воссоздает традиционный деревянный домик в
                            горах. Атмосферу пасторального отдыха поддерживают деревянная отделка, электрический камин и
                            большие окна.
                        </p>
                    </div>
                    <a href="#" class="promo-detail__link">
                        <span class="promo-detail__link-text">
                            Забронировать
                            <svg width="14" height="14" aria-hidden="true" class="arrow-right">
                                <use xlink:href="#medium-arrow-right"></use>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </section>


        <section class="news js-news">
            <div class="container">
                <div class="news__top-row">
                    <h2 class="news__heading js-heading">
                        Другие акции
                    </h2>
                    <div class="news__arrows">
                        <button class="news__arrows-btn news__arrows-btn--prev">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                        </button>
                        <button class="news__arrows-btn news__arrows-btn--next">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="news__slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="news__slider-card">
                                    <div class="news__slider-card-image-container">

                                    </div>
                                    <h4 class="news__slider-card-title">
                                        Утром дешевле
                                    </h4>
                                    <div class="news__slider-card-text">
                                        <p>
                                            В будние дни с 9 до 12
                                            скидка 25% на всё!
                                        </p>
                                    </div>
                                    <div class="news__slider-card-link">
                                        Подробнее
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#medium-arrow-right"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news__slider-card">
                                    <div class="news__slider-card-image-container">

                                    </div>
                                    <h4 class="news__slider-card-title">
                                        Ваш день
                                    </h4>
                                    <div class="news__slider-card-text">
                                        <p>
                                            За 7 дней до и 7 дней
                                            после дня рождения
                                            скидка 15%
                                        </p>
                                    </div>
                                    <div class="news__slider-card-link">
                                        Подробнее
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#medium-arrow-right"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news__slider-card">
                                    <div class="news__slider-card-image-container">

                                    </div>
                                    <h4 class="news__slider-card-title">
                                        Бьюти-девичник
                                    </h4>
                                    <div class="news__slider-card-text">
                                        <p>
                                            Специальные условия на пакетное предложение!
                                        </p>
                                    </div>
                                    <div class="news__slider-card-link">
                                        Подробнее
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#medium-arrow-right"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news__slider-card">
                                    <div class="news__slider-card-image-container">

                                    </div>
                                    <h4 class="news__slider-card-title">
                                        Мужской день
                                    </h4>
                                    <div class="news__slider-card-text">
                                        <p>
                                            Специальные условия на аренду VIP кабинета в дневное время!
                                        </p>
                                    </div>
                                    <div class="news__slider-card-link">
                                        Подробнее
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#medium-arrow-right"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news__slider-card">
                                    <div class="news__slider-card-image-container">

                                    </div>
                                    <h4 class="news__slider-card-title">
                                        Утром дешевле
                                    </h4>
                                    <div class="news__slider-card-text">
                                        <p>
                                            В будние дни с 9 до 12
                                            скидка 25% на всё!
                                        </p>
                                    </div>
                                    <div class="news__slider-card-link">
                                        Подробнее
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#medium-arrow-right"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news__slider-card">
                                    <div class="news__slider-card-image-container">

                                    </div>
                                    <h4 class="news__slider-card-title">
                                        Ваш день
                                    </h4>
                                    <div class="news__slider-card-text">
                                        <p>
                                            За 7 дней до и 7 дней
                                            после дня рождения
                                            скидка 15%
                                        </p>
                                    </div>
                                    <div class="news__slider-card-link">
                                        Подробнее
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#medium-arrow-right"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news__slider-card">
                                    <div class="news__slider-card-image-container">

                                    </div>
                                    <h4 class="news__slider-card-title">
                                        Бьюти-девичник
                                    </h4>
                                    <div class="news__slider-card-text">
                                        <p>
                                            Специальные условия на пакетное предложение!
                                        </p>
                                    </div>
                                    <div class="news__slider-card-link">
                                        Подробнее
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#medium-arrow-right"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news__slider-card">
                                    <div class="news__slider-card-image-container">

                                    </div>
                                    <h4 class="news__slider-card-title">
                                        Мужской день
                                    </h4>
                                    <div class="news__slider-card-text">
                                        <p>
                                            Специальные условия на аренду VIP кабинета в дневное время!
                                        </p>
                                    </div>
                                    <div class="news__slider-card-link">
                                        Подробнее
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#medium-arrow-right"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="contacts">
            <div class="container">
                <div class="contacts__content">


                    <div class="contacts__row">
                        <div class="contacts__info">
                            <h2 class="contacts__heading">
                                Контакты
                            </h2>
                            <a href="tel:+79813342222" class="contacts__phone-link"> +7 981 334 22 22</a>
                            <div class="contacts__text">
                                <p>
                                    Нижняя Масловка, 15<br>
                                    Ежедневно 8:00-00:00<br>
                                </p>
                            </div>
                            <ul class="contacts__closest">
                                <li class="contacts__closest-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-metro">
                                        <use xlink:href="#metro"></use>
                                    </svg>
                                    Динамо 10 мин
                                </li>
                                <li class="contacts__closest-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-metro">
                                        <use xlink:href="#metro"></use>
                                    </svg>
                                    Савеловская 5 мин
                                </li>
                                <li class="contacts__closest-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-location">
                                        <use xlink:href="#location"></use>
                                    </svg>
                                    Рядом с ТТК
                                </li>
                                <li class="contacts__closest-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-parking">
                                        <use xlink:href="#parking"></use>
                                    </svg>
                                    Своя парковка
                                </li>
                            </ul>

                            <a href="#" class="contacts__plan">
                                карта и план проезда
                            </a>

                            <ul class="contacts__social-list">
                                <li class="contacts__social-list-item">
                                    <a href="#" class="contacts__social-link">
                                        <img src="img/social/facebook-dark.svg" alt=""
                                            class="contacts__social-link-icon">
                                    </a>
                                </li>
                                <li class="contacts__social-list-item">
                                    <a href="#" class="contacts__social-link">
                                        <img src="img/social/telegram-dark.svg" alt=""
                                            class="contacts__social-link-icon">
                                    </a>
                                </li>
                                <li class="contacts__social-list-item">
                                    <a href="#" class="contacts__social-link">
                                        <img src="img/social/vkontakte-dark.svg" alt=""
                                            class="contacts__social-link-icon">
                                    </a>
                                </li>
                                <li class="contacts__social-list-item">
                                    <a href="#" class="contacts__social-link">
                                        <img src="img/social/instagram-dark.svg" alt=""
                                            class="contacts__social-link-icon">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="contacts__map-wrapper js-map" data-coords="55.791081, 37.574525"
                            data-center="55.791081, 37.574525" data-zoom="14">
                            <div class="contacts__map js-map-element">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class='gallery'>
            <div class='container'>
                <div class='gallery__slider js-gallery-slider'>
                    <div class='swiper'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <div class='gallery__slider-card gallery__slider-card--type-1'>
                                    <img src='img/gallery/1.jpg' alt='' class='gallery__slider-card-image' />
                                </div>
                            </div>
                            <div class='swiper-slide'>
                                <div class='gallery__slider-card gallery__slider-card--type-2'>
                                    <img src='img/gallery/2.jpg' alt='' class='gallery__slider-card-image' />
                                </div>
                            </div>
                            <div class='swiper-slide'>
                                <div class='gallery__slider-card gallery__slider-card--type-3'>
                                    <img src='img/gallery/3.jpg' alt='' class='gallery__slider-card-image' />
                                </div>
                            </div>
                            <div class='swiper-slide'>
                                <div class='gallery__slider-card gallery__slider-card--type-1'>
                                    <img src='img/gallery/4.jpg' alt='' class='gallery__slider-card-image' />
                                </div>
                            </div>
                            <div class='swiper-slide'>
                                <div class='gallery__slider-card gallery__slider-card--type-2'>
                                    <img src='img/gallery/5.jpg' alt='' class='gallery__slider-card-image' />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{> subscribe }}
    {{/content}}
{{/extend}}