{{#extend 'layout'}}
    {{#content 'main'}}
        <section class='promos-intro'>
            <div class='container'>
                <div class='promos-intro__content'>

                    <div class='promos-intro__slider js-promos-slider'>
                        <button class="promos-intro__slider-arrow promos-intro__slider-arrow--prev">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                        </button>
                        <div class='promos-intro__slider-wrapper'>
                            <div class='swiper'>
                                <div class='swiper-wrapper'>
                                    <div class='swiper-slide'>
                                        <div class='promos-intro__slider-card'>
                                            <div class='promos-intro__slider-card-text-content'>
                                                <div class='promos-intro__slider-card-label'>
                                                    Акция месяца
                                                </div>
                                                <h3 class='promos-intro__slider-card-heading'>
                                                    День рождения
                                                </h3>
                                                <div class='promos-intro__slider-card-text'>
                                                    Яркие банные впечатления и здоровый отдых – лучший подарок на все
                                                    случаи жизни
                                                </div>
                                                <a href="#" class="promos-intro__slider-card-link">
                                                    Подробнее
                                                    <svg width="14" height="14" aria-hidden="true"
                                                        class="icon-arrow-right">
                                                        <use xlink:href="#medium-arrow-right"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                            <div class='promos-intro__slider-card-image-wrapper'>
                                                <img src='img/promos-intro.jpg' alt=''
                                                    class='promos-intro__slider-card-image' />
                                            </div>
                                        </div>
                                    </div>
                                    <div class='swiper-slide'>
                                        <div class='promos-intro__slider-card'>
                                            <div class='promos-intro__slider-card-text-content'>
                                                <div class='promos-intro__slider-card-label'>
                                                    Акция месяца
                                                </div>
                                                <h3 class='promos-intro__slider-card-heading'>
                                                    День рождения
                                                </h3>
                                                <div class='promos-intro__slider-card-text'>
                                                    Яркие банные впечатления и здоровый отдых – лучший подарок на все
                                                    случаи жизни
                                                </div>
                                                <a href="#" class="promos-intro__slider-card-link">
                                                    Подробнее
                                                    <svg width="14" height="14" aria-hidden="true"
                                                        class="icon-arrow-right">
                                                        <use xlink:href="#medium-arrow-right"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                            <div class='promos-intro__slider-card-image-wrapper'>
                                                <img src='img/promos-intro.jpg' alt=''
                                                    class='promos-intro__slider-card-image' />
                                            </div>
                                        </div>
                                    </div>
                                    <div class='swiper-slide'>
                                        <div class='promos-intro__slider-card'>
                                            <div class='promos-intro__slider-card-text-content'>
                                                <div class='promos-intro__slider-card-label'>
                                                    Акция месяца
                                                </div>
                                                <h3 class='promos-intro__slider-card-heading'>
                                                    День рождения
                                                </h3>
                                                <div class='promos-intro__slider-card-text'>
                                                    Яркие банные впечатления и здоровый отдых – лучший подарок на все
                                                    случаи жизни
                                                </div>
                                                <a href="#" class="promos-intro__slider-card-link">
                                                    Подробнее
                                                    <svg width="14" height="14" aria-hidden="true"
                                                        class="icon-arrow-right">
                                                        <use xlink:href="#medium-arrow-right"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                            <div class='promos-intro__slider-card-image-wrapper'>
                                                <img src='img/promos-intro.jpg' alt=''
                                                    class='promos-intro__slider-card-image' />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="promos-intro__slider-arrow promos-intro__slider-arrow--next">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                        <div class="promos-intro__slider-pagination"></div>
                    </div>

                </div>
            </div>
        </section>


        <section class="promos-catalog">
            <div class="container">
                <h2 class="promos-catalog__heading">
                    Сказочные события и волшебные акции
                </h2>
                <div class="promos-catalog__tabs js-tabs">
                    <div class="promos-catalog__tabs-nav">
                        <a href="#" class="promos-catalog__tabs-nav-link js-tabs-btn">
                            Мероприятия
                        </a>
                        <a href="#" class="promos-catalog__tabs-nav-link js-tabs-btn">
                            Новости
                        </a>
                        <a href="#" class="promos-catalog__tabs-nav-link js-tabs-btn">
                            Акции
                        </a>
                        <a href="#" class="promos-catalog__tabs-nav-link js-tabs-btn">
                            Всё
                        </a>
                    </div>
                    <div class="promos-catalog__tabs-items">
                        <div class="promos-catalog__tabs-item js-tabs-item">
                            <ul class="promos-catalog__list">
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div class="promos-catalog__card-image-container">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Утром дешевле
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            В будние дни с 9 до 12
                                            скидка 25% на всё!
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее

                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div
                                            class="promos-catalog__card-image-container promos-catalog__card-image-container--medium">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Ваш день
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            За 7 дней до и 7 дней
                                            после дня рождения
                                            скидка 15%
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее

                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div class="promos-catalog__card-image-container">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Бьюти-девичник
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            Специальные условия на пакетное предложение!
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее

                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div
                                            class="promos-catalog__card-image-container promos-catalog__card-image-container--medium">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Мужской день
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            Специальные условия на аренду VIP кабинета в дневное время!
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div
                                            class="promos-catalog__card-image-container promos-catalog__card-image-container--empty">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Утром дешевле
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            В будние дни с 9 до 12
                                            скидка 25% на всё!
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div
                                            class="promos-catalog__card-image-container promos-catalog__card-image-container--medium">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Ваш день
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            За 7 дней до и 7 дней
                                            после дня рождения
                                            скидка 15%
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div
                                            class="promos-catalog__card-image-container promos-catalog__card-image-container--empty">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Бьюти-девичник
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            Специальные условия на пакетное предложение!
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div
                                            class="promos-catalog__card-image-container promos-catalog__card-image-container--medium">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Мужской день
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            Специальные условия на аренду VIP кабинета в дневное время!
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="promos-catalog__tabs-item js-tabs-item">
                            <ul class="promos-catalog__list">
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div class="promos-catalog__card-image-container">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Утром дешевле
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            В будние дни с 9 до 12
                                            скидка 25% на всё!
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее

                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div
                                            class="promos-catalog__card-image-container promos-catalog__card-image-container--medium">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Ваш день
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            За 7 дней до и 7 дней
                                            после дня рождения
                                            скидка 15%
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее

                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div class="promos-catalog__card-image-container">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Бьюти-девичник
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            Специальные условия на пакетное предложение!
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее

                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div
                                            class="promos-catalog__card-image-container promos-catalog__card-image-container--medium">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Мужской день
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            Специальные условия на аренду VIP кабинета в дневное время!
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div
                                            class="promos-catalog__card-image-container promos-catalog__card-image-container--empty">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Утром дешевле
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            В будние дни с 9 до 12
                                            скидка 25% на всё!
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div
                                            class="promos-catalog__card-image-container promos-catalog__card-image-container--medium">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Ваш день
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            За 7 дней до и 7 дней
                                            после дня рождения
                                            скидка 15%
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div
                                            class="promos-catalog__card-image-container promos-catalog__card-image-container--empty">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Бьюти-девичник
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            Специальные условия на пакетное предложение!
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div
                                            class="promos-catalog__card-image-container promos-catalog__card-image-container--medium">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Мужской день
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            Специальные условия на аренду VIP кабинета в дневное время!
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="promos-catalog__tabs-item js-tabs-item">
                            <ul class="promos-catalog__list">
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div class="promos-catalog__card-image-container">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Утром дешевле
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            В будние дни с 9 до 12
                                            скидка 25% на всё!
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее

                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div
                                            class="promos-catalog__card-image-container promos-catalog__card-image-container--medium">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Ваш день
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            За 7 дней до и 7 дней
                                            после дня рождения
                                            скидка 15%
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее

                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div class="promos-catalog__card-image-container">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Бьюти-девичник
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            Специальные условия на пакетное предложение!
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее

                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div
                                            class="promos-catalog__card-image-container promos-catalog__card-image-container--medium">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Мужской день
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            Специальные условия на аренду VIP кабинета в дневное время!
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div
                                            class="promos-catalog__card-image-container promos-catalog__card-image-container--empty">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Утром дешевле
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            В будние дни с 9 до 12
                                            скидка 25% на всё!
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div
                                            class="promos-catalog__card-image-container promos-catalog__card-image-container--medium">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Ваш день
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            За 7 дней до и 7 дней
                                            после дня рождения
                                            скидка 15%
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div
                                            class="promos-catalog__card-image-container promos-catalog__card-image-container--empty">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Бьюти-девичник
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            Специальные условия на пакетное предложение!
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div
                                            class="promos-catalog__card-image-container promos-catalog__card-image-container--medium">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Мужской день
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            Специальные условия на аренду VIP кабинета в дневное время!
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="promos-catalog__tabs-item js-tabs-item">
                            <ul class="promos-catalog__list">
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div class="promos-catalog__card-image-container">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Утром дешевле
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            В будние дни с 9 до 12
                                            скидка 25% на всё!
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее

                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div
                                            class="promos-catalog__card-image-container promos-catalog__card-image-container--medium">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Ваш день
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            За 7 дней до и 7 дней
                                            после дня рождения
                                            скидка 15%
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее

                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div class="promos-catalog__card-image-container">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Бьюти-девичник
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            Специальные условия на пакетное предложение!
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее

                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div
                                            class="promos-catalog__card-image-container promos-catalog__card-image-container--medium">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Мужской день
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            Специальные условия на аренду VIP кабинета в дневное время!
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div
                                            class="promos-catalog__card-image-container promos-catalog__card-image-container--empty">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Утром дешевле
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            В будние дни с 9 до 12
                                            скидка 25% на всё!
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div
                                            class="promos-catalog__card-image-container promos-catalog__card-image-container--medium">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Ваш день
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            За 7 дней до и 7 дней
                                            после дня рождения
                                            скидка 15%
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div
                                            class="promos-catalog__card-image-container promos-catalog__card-image-container--empty">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Бьюти-девичник
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            Специальные условия на пакетное предложение!
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="promos-catalog__list-item">
                                    <a href="#" class="promos-catalog__card">
                                        <div
                                            class="promos-catalog__card-image-container promos-catalog__card-image-container--medium">

                                        </div>
                                        <h3 class="promos-catalog__card-title">
                                            Мужской день
                                        </h3>
                                        <div class="promos-catalog__card-text">
                                            Специальные условия на аренду VIP кабинета в дневное время!
                                        </div>
                                        <div class="promos-catalog__card-link">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class='gallery'>
            <div class='container'>
                <div class='gallery__slider js-gallery-slider'>
                    <div class='swiper'>
                        <div class='swiper-wrapper'>
                            <div class='swiper-slide'>
                                <div class='gallery__slider-card gallery__slider-card--type-1'>
                                    <img src='img/gallery/1.jpg' alt='' class='gallery__slider-card-image' />
                                </div>
                            </div>
                            <div class='swiper-slide'>
                                <div class='gallery__slider-card gallery__slider-card--type-2'>
                                    <img src='img/gallery/2.jpg' alt='' class='gallery__slider-card-image' />
                                </div>
                            </div>
                            <div class='swiper-slide'>
                                <div class='gallery__slider-card gallery__slider-card--type-3'>
                                    <img src='img/gallery/3.jpg' alt='' class='gallery__slider-card-image' />
                                </div>
                            </div>
                            <div class='swiper-slide'>
                                <div class='gallery__slider-card gallery__slider-card--type-1'>
                                    <img src='img/gallery/4.jpg' alt='' class='gallery__slider-card-image' />
                                </div>
                            </div>
                            <div class='swiper-slide'>
                                <div class='gallery__slider-card gallery__slider-card--type-2'>
                                    <img src='img/gallery/5.jpg' alt='' class='gallery__slider-card-image' />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class='subscribe'>
            <div class='container'>
                <div class='subscribe__content'>
                    <img src='img/image-logo.svg' alt='' class='subscribe__logo' />
                    <h4 class='subscribe__heading'>
                        Подписаться на&nbsp;рассылку
                    </h4>
                    <div class='subscribe__heading-text'>
                        <p>
                            Чтобы не пропустить классные акции и предложения
                        </p>
                    </div>
                    <form action='/' method='POST' class='subscribe__form' data-need-validation=''
                        id='subscribe-errors'>
                        <div class='subscribe__form-row'>
                            <input type='email' name='email' class='subscribe__form-input' required=''
                                placeholder='Email' data-parsley-errors-container='#subscribe-errors' />
                            <button class='subscribe__form-submit' type='submit'>
                                <svg width='14' height='14' aria-hidden='true' class='icon-arrow-right'>
                                    <use xlink:href='#arrow-right'></use>
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    {{/content}}
{{/extend}}