{{#extend "layout"}}
{{#content "main"}}


<section class="intro js-intro js-change-header-color">
    <div class="intro__bg">

        <div class="intro__parallax-wrapper">
            <div class="intro__bg-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="img/intro/1.jpg" alt="" class="intro__bg-image">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="intro__content">
            <div class="intro__content-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="intro__content-slider-card">
                                <img src="img/image-logo.svg" alt="" class="intro__content-slider-card-logo">
                                <h3 class="intro__content-slider-card-title">
                                    общая зона
                                </h3>
                                <div class="intro__content-slider-card-text">
                                    <p>
                                        пространство для пар, семей и компаний со всеми атрибутами банного отдыха

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro__controls">
                <div class="intro__contacts">
                    <ul class="intro__contacts-list">
                        <li class="intro__contacts-list-item">
                            <a href="#" class="intro__contacts-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-contacts-1">
                                    <use xlink:href="#contacts-1"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="intro__contacts-list-item">
                            <a href="#" class="intro__contacts-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-contacts-2">
                                    <use xlink:href="#contacts-2"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="intro__contacts-list-item">
                            <a href="#" class="intro__contacts-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-contacts-3">
                                    <use xlink:href="#contacts-3"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="intro__pagination">

                </div>
            </div>
        </div>
    </div>
</section>


<section class="rest-together">
    <div class="container">
        <div class="rest-together__content">


            <h2 class="rest-together__heading">
                Отдыхайте вместе
            </h2>
            <div class="rest-together__heading-text">
                Общая зона для мужчин и женщин на втором этаже банного комплекса «ЖАР-ПТИЦА» – это пространство, где
                есть
                все необходимое: парная, хаммам, соляные комнаты, массажные кабинеты и комфортное релакс пространство.
            </div>
            <div class="rest-together__slider js-rest-together-slider">
                <button class="rest-together__slider-arrow rest-together__slider-arrow--prev">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </button>
                <div class="rest-together__slider-wrapper">

                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="rest-together__slider-card js-parallax-image">
                                    <div class="rest-together__slider-card-parallax js-parallax-image-wrapper">
                                        <img src="img/rest-together.jpg" alt=""
                                            class="rest-together__slider-card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="rest-together__slider-card js-parallax-image">
                                    <div class="rest-together__slider-card-parallax js-parallax-image-wrapper">
                                        <img src="img/rest-together.jpg" alt=""
                                            class="rest-together__slider-card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="rest-together__slider-card js-parallax-image">
                                    <div class="rest-together__slider-card-parallax js-parallax-image-wrapper">
                                        <img src="img/rest-together.jpg" alt=""
                                            class="rest-together__slider-card-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <button class="rest-together__slider-arrow rest-together__slider-arrow--next">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
            </div>
            <ul class="rest-together__list">
                <li class="rest-together__list-item">
                    До 50 гостей
                </li>
                <li class="rest-together__list-item">
                    Бар и зона отдыха
                </li>
                <li class="rest-together__list-item">
                    Хаммам
                </li>
                <li class="rest-together__list-item">
                    2 соляные комнаты
                </li>
                <li class="rest-together__list-item">
                    Парная
                </li>
                <li class="rest-together__list-item">
                    3 массажные комнаты
                </li>
            </ul>
            <a href="#" class="rest-together__link">
                <span class="rest-together__link-text">
                    Забронировать
                    <svg width="14" height="14" aria-hidden="true" class="arrow-right">
                        <use xlink:href="#medium-arrow-right"></use>
                    </svg>
                </span>
            </a>
        </div>
    </div>
</section>

<section class="features">
    <div class="container">
        <div class="features__content">
            <div class="features__left-col">
                <div class="features__image-wrapper js-parallax-image">
                    <div class="features__image-parallax js-parallax-image-wrapper">
                        <img src="img/features/1.jpg" alt="" class="features__image">
                    </div>
                </div>
                <h3 class="features__title">
                    Здоровье и релакс
                </h3>
                <div class="features__text">
                    Оздоровитесь в соляных пещерах, отдохните в комнате со специальными водяными матрасами, насладитесь
                    массажем и SPA-процедурами в уютном приватном кабинете.
                </div>
            </div>
            <div class="features__right-col">
                <div class="features__slider js-features-slider">

                    <div class="features__slider-arrows">
                        <button class="features__slider-arrow features__slider-arrow--prev">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                        </button>
                        <button class="features__slider-arrow features__slider-arrow--next">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="features__slider-card">
                                    <div class="features__slider-card-image-container js-parallax-image">
                                        <div class="features__slider-card-parallax js-parallax-image-wrapper">
                                            <img src="img/features/2.jpg" alt="" class="features__slider-card-image">
                                        </div>
                                    </div>
                                    <h4 class="features__slider-card-title">
                                        Бар и кухня
                                    </h4>
                                    <div class="features__slider-card-text">
                                        <p>
                                            В барной зоне располагаются удобные барные стулья и лежаки. Вас ждет богатый
                                            выбор авторских напитков, а также специальное меню закусок.
                                        </p>
                                    </div>
                                    <a href="#" class="features__slider-card-link">
                                        Меню бара
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#medium-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="features__slider-card">
                                    <div class="features__slider-card-image-container js-parallax-image">
                                        <div class="features__slider-card-parallax js-parallax-image-wrapper">
                                            <img src="img/features/2.jpg" alt="" class="features__slider-card-image">
                                        </div>
                                    </div>
                                    <h4 class="features__slider-card-title">
                                        Бар и кухня
                                    </h4>
                                    <div class="features__slider-card-text">
                                        <p>
                                            В барной зоне располагаются удобные барные стулья и лежаки. Вас ждет богатый
                                            выбор авторских напитков, а также специальное меню закусок.
                                        </p>
                                    </div>
                                    <a href="#" class="features__slider-card-link">
                                        Меню бара
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#medium-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="bath-rest">
    <div class="container">
        <div class="bath-rest__content js-bath-rest-slider">
            <div class="bath-rest__slider">
                <div class="bath-rest__slider-inner">


                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="bath-rest__slider-card js-parallax-image">
                                    <div class="bath-rest__slider-card-parallax js-parallax-image-wrapper">
                                        <img src="img/bath-rest.jpg" alt="" class="bath-rest__slider-card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="bath-rest__slider-card js-parallax-image">
                                    <div class="bath-rest__slider-card-parallax js-parallax-image-wrapper">
                                        <img src="img/bath-rest.jpg" alt="" class="bath-rest__slider-card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="bath-rest__slider-card js-parallax-image">
                                    <div class="bath-rest__slider-card-parallax js-parallax-image-wrapper">
                                        <img src="img/bath-rest.jpg" alt="" class="bath-rest__slider-card-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bath-rest__slider-pagination">

                    </div>
                </div>
            </div>
            <div class="bath-rest__text-content">
                <h2 class="bath-rest__heading js-heading">
                    Банный отдых
                </h2>
                <div class="bath-rest__text">
                    Просторная сауна для ценителей высоких температур и хаммам для тех, кто предпочитает более мягкий
                    пар.
                </div>
                <div class="bath-rest__arrows">
                    <button class="bath-rest__arrow bath-rest__arrow--prev">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="bath-rest__arrow bath-rest__arrow--next">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="visit">
    <div class="container">
        <div class="visit__content">
            <h2 class="visit__heading">
                Посетите бани первого этажа
            </h2>
            <div class="visit__text">
                Из общей зоны вы можете спуститься на первый этаж к традиционным мужскому и женскому разрядам. Это
                входит в стоимость посещения банного комплекса «ЖАР-ПТИЦА»
            </div>
            <div class="visit__arrow">
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-up">
                    <use xlink:href="#arrow-up"></use>
                </svg>
            </div>
        </div>
    </div>
</section>

<section class="rooms rooms--short-padding">
    <div class="container">
        <div class="rooms__content">
            <ul class="rooms__list">
                <li class="rooms__list-item">
                    <div class="rooms__card">
                        <div class="rooms__card-image-container js-parallax-image">
                            <div class="rooms__card-parallax-wrapper js-parallax-image-wrapper">
                                <img src="img/rooms/1.jpg" alt="" class="rooms__card-image">
                            </div>
                        </div>
                        <div class="rooms__card-content">
                            <h4 class="rooms__card-title">
                                Мужской
                            </h4>

                            <div class="rooms__card-content-wrapper">

                                <div class="rooms__card-title-text">
                                    Разряд
                                </div>
                                <ul class="rooms__card-list">
                                    <li class="rooms__card-list-item">
                                        150 мест
                                    </li>
                                    <li class="rooms__card-list-item">
                                        2 просторные парные
                                    </li>
                                    <li class="rooms__card-list-item">
                                        Ледяные и травяные бочки
                                    </li>
                                    <li class="rooms__card-list-item">
                                        3 vip комнаты
                                    </li>
                                </ul>
                                <div class="rooms__card-btns">
                                    <a href="#" class="rooms__card-btn">
                                        <span class="rooms__card-btn-text">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </span>

                                    </a>
                                    <a href="#" class="rooms__card-btn rooms__card-btn--filled">

                                        <span class="rooms__card-btn-text">
                                            Забронировать
                                            <svg width="14" height="14" aria-hidden="true" class="arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="rooms__list-item">
                    <div class="rooms__card">
                        <div class="rooms__card-image-container js-parallax-image">
                            <div class="rooms__card-parallax-wrapper js-parallax-image-wrapper">


                                <img src="img/rooms/2.jpg" alt="" class="rooms__card-image">
                            </div>
                        </div>
                        <div class="rooms__card-content">


                            <h4 class="rooms__card-title">
                                женский
                            </h4>

                            <div class="rooms__card-content-wrapper">
                                <div class="rooms__card-title-text">
                                    Разряд
                                </div>

                                <ul class="rooms__card-list">
                                    <li class="rooms__card-list-item">
                                        50 мест
                                    </li>
                                    <li class="rooms__card-list-item">
                                        Комфортная парная
                                    </li>
                                    <li class="rooms__card-list-item">
                                        Бьюти зона
                                    </li>
                                    <li class="rooms__card-list-item">
                                        Хаммам
                                    </li>
                                </ul>
                                <div class="rooms__card-btns">
                                    <a href="#" class="rooms__card-btn">


                                        <span class="rooms__card-btn-text">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </span>
                                    </a>
                                    <a href="#" class="rooms__card-btn rooms__card-btn--filled">


                                        <span class="rooms__card-btn-text">
                                            Забронировать
                                            <svg width="14" height="14" aria-hidden="true" class="arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>


<section class="news js-news">
    <div class="container">
        <div class="news__top-row">
            <h2 class="news__heading js-heading">
                Новости и&nbsp;акции
            </h2>
            <div class="news__arrows">
                <button class="news__arrows-btn news__arrows-btn--prev">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </button>
                <button class="news__arrows-btn news__arrows-btn--next">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="news__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="news__slider-card">
                            <div class="news__slider-card-image-container">

                            </div>
                            <h4 class="news__slider-card-title">
                                Утром дешевле
                            </h4>
                            <div class="news__slider-card-text">
                                <p>
                                    В будние дни с 9 до 12
                                    скидка 25% на всё!
                                </p>
                            </div>
                            <div class="news__slider-card-link">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#medium-arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="news__slider-card">
                            <div class="news__slider-card-image-container">

                            </div>
                            <h4 class="news__slider-card-title">
                                Ваш день
                            </h4>
                            <div class="news__slider-card-text">
                                <p>
                                    За 7 дней до и 7 дней
                                    после дня рождения
                                    скидка 15%
                                </p>
                            </div>
                            <div class="news__slider-card-link">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#medium-arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="news__slider-card">
                            <div class="news__slider-card-image-container">

                            </div>
                            <h4 class="news__slider-card-title">
                                Бьюти-девичник
                            </h4>
                            <div class="news__slider-card-text">
                                <p>
                                    Специальные условия на пакетное предложение!
                                </p>
                            </div>
                            <div class="news__slider-card-link">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#medium-arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="news__slider-card">
                            <div class="news__slider-card-image-container">

                            </div>
                            <h4 class="news__slider-card-title">
                                Мужской день
                            </h4>
                            <div class="news__slider-card-text">
                                <p>
                                    Специальные условия на аренду VIP кабинета в дневное время!
                                </p>
                            </div>
                            <div class="news__slider-card-link">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#medium-arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="news__slider-card">
                            <div class="news__slider-card-image-container">

                            </div>
                            <h4 class="news__slider-card-title">
                                Утром дешевле
                            </h4>
                            <div class="news__slider-card-text">
                                <p>
                                    В будние дни с 9 до 12
                                    скидка 25% на всё!
                                </p>
                            </div>
                            <div class="news__slider-card-link">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#medium-arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="news__slider-card">
                            <div class="news__slider-card-image-container">

                            </div>
                            <h4 class="news__slider-card-title">
                                Ваш день
                            </h4>
                            <div class="news__slider-card-text">
                                <p>
                                    За 7 дней до и 7 дней
                                    после дня рождения
                                    скидка 15%
                                </p>
                            </div>
                            <div class="news__slider-card-link">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#medium-arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="news__slider-card">
                            <div class="news__slider-card-image-container">

                            </div>
                            <h4 class="news__slider-card-title">
                                Бьюти-девичник
                            </h4>
                            <div class="news__slider-card-text">
                                <p>
                                    Специальные условия на пакетное предложение!
                                </p>
                            </div>
                            <div class="news__slider-card-link">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#medium-arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="news__slider-card">
                            <div class="news__slider-card-image-container">

                            </div>
                            <h4 class="news__slider-card-title">
                                Мужской день
                            </h4>
                            <div class="news__slider-card-text">
                                <p>
                                    Специальные условия на аренду VIP кабинета в дневное время!
                                </p>
                            </div>
                            <div class="news__slider-card-link">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#medium-arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="contacts">
    <div class="container">
        <div class="contacts__content">


            <div class="contacts__row">
                <div class="contacts__info">
                    <h2 class="contacts__heading">
                        Контакты
                    </h2>
                    <a href="tel:+79813342222" class="contacts__phone-link"> +7 981 334 22 22</a>
                    <div class="contacts__text">
                        <p>
                            Нижняя Масловка, 15<br>
                            Ежедневно 8:00-00:00<br>
                        </p>
                    </div>
                    <ul class="contacts__closest">
                        <li class="contacts__closest-item">
                            <svg width="14" height="14" aria-hidden="true" class="icon-metro">
                                <use xlink:href="#metro"></use>
                            </svg>
                            Динамо 10 мин
                        </li>
                        <li class="contacts__closest-item">
                            <svg width="14" height="14" aria-hidden="true" class="icon-metro">
                                <use xlink:href="#metro"></use>
                            </svg>
                            Савеловская 5 мин
                        </li>
                        <li class="contacts__closest-item">
                            <svg width="14" height="14" aria-hidden="true" class="icon-location">
                                <use xlink:href="#location"></use>
                            </svg>
                            Рядом с ТТК
                        </li>
                        <li class="contacts__closest-item">
                            <svg width="14" height="14" aria-hidden="true" class="icon-parking">
                                <use xlink:href="#parking"></use>
                            </svg>
                            Своя парковка
                        </li>
                    </ul>

                    <a href="#" class="contacts__plan">
                        карта и план проезда
                    </a>

                    <ul class="contacts__social-list">
                        <li class="contacts__social-list-item">
                            <a href="#" class="contacts__social-link">
                                <img src="img/social/facebook-dark.svg" alt="" class="contacts__social-link-icon">
                            </a>
                        </li>
                        <li class="contacts__social-list-item">
                            <a href="#" class="contacts__social-link">
                                <img src="img/social/telegram-dark.svg" alt="" class="contacts__social-link-icon">
                            </a>
                        </li>
                        <li class="contacts__social-list-item">
                            <a href="#" class="contacts__social-link">
                                <img src="img/social/vkontakte-dark.svg" alt="" class="contacts__social-link-icon">
                            </a>
                        </li>
                        <li class="contacts__social-list-item">
                            <a href="#" class="contacts__social-link">
                                <img src="img/social/instagram-dark.svg" alt="" class="contacts__social-link-icon">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="contacts__map-wrapper js-map" data-coords="55.791081, 37.574525"
                    data-center="55.791081, 37.574525" data-zoom="14">
                    <div class="contacts__map js-map-element">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gallery">
    <div class="container">
        <div class="gallery__slider js-gallery-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-1">
                            <img src="img/gallery/1.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-2">
                            <img src="img/gallery/2.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-3">
                            <img src="img/gallery/3.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-1">
                            <img src="img/gallery/4.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__slider-card gallery__slider-card--type-2">
                            <img src="img/gallery/5.jpg" alt="" class="gallery__slider-card-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="subscribe">
    <div class="container">
        <div class="subscribe__content">
            <img src="img/image-logo.svg" alt="" class="subscribe__logo">
            <h4 class="subscribe__heading">
                Подписаться на&nbsp;рассылку
            </h4>
            <div class="subscribe__heading-text">
                <p>
                    Чтобы не пропустить классные акции и предложения
                </p>
            </div>
            <form action="/" method="POST" class="subscribe__form" data-need-validation="" id="subscribe-errors">
                <div class="subscribe__form-row">
                    <input type="email" name="email" class="subscribe__form-input" required="" placeholder="Email"
                        data-parsley-errors-container="#subscribe-errors">
                    <button class="subscribe__form-submit" type="submit">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>

            </form>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}