.apartments {
    padding-top: 3.5rem;
    padding-bottom: 4rem;
    background: #ede8dd;
    position: relative;
    z-index: 1;

    @include breakpoint(mobile) {
        padding-top: 3.4rem;
        padding-bottom: 4rem;
    }

    *::selection {
        color: inherit;
        background-color: #fff;
        -webkit-text-fill-color: unset;
    }
}

.apartments__heading {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 9rem;
    line-height: 120%;
    letter-spacing: 0.05em;
    font-family: var(--zhar-ptitza);
    color: #3a241f;
    margin-bottom: 3.8rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 700;
        font-size: 4.2rem;
        line-height: 1.1;
        margin-bottom: 3rem;
        color: var(--text-color);

        font-size: 3.8rem;
        line-height: 1;
    }
}

.apartments__slider {
    max-width: 1264rem;
    margin: 0 auto;
    width: 100%;

    @include breakpointMF(small-tablet) {
        .swiper-slide {
            width: 50%;

            &:nth-child(even) {
                padding-top: 6rem;
            }
        }
    }

    @include breakpoint(mobile) {
        margin: 0;
        max-width: none;

        .swiper {
            overflow: visible;
        }

        .swiper-slide {
            width: 27.7rem;
            margin-right: 1.3rem;

            width: 90%;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.apartments__slider-card {
    display: flex;
    flex-direction: column;

    color: #3a241f;

    @include breakpoint(mobile) {
        flex-grow: 1;
    }
}

.apartments__slider-card-image-container {
    position: relative;
    margin-bottom: 2rem;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);

    @include breakpoint(mobile) {
        margin-bottom: 1.2rem;
    }
    &::before {
        content: '';
        display: block;
        padding-bottom: 56.25%;
    }
}

.apartments__slider-card-image-parallax-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.apartments__slider-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.apartments__slider-card-video-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;

    video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .video-shown & {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.3s, visibility 0.3s;
    }
}

.apartments__slider-card--novideo {
    &::after {
        display: none;
    }
}

.apartments__slider-card-title {
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 120%;
    text-transform: uppercase;

    font-family: var(--zhar-ptitza);
    margin-bottom: 0.5rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 120%;
    }
}

.apartments__slider-card-text {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 120%;
    margin-bottom: 1.5rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 170%;
        margin-bottom: 0.7rem;
    }
}

.apartments__slider-card-features {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    row-gap: 1.5rem;
    margin-bottom: 2rem;

    @include breakpoint(mobile) {
        gap: 2.5rem;
        row-gap: 1.2rem;
    }
}

.apartments__slider-card-features-item {
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 120%;
    display: inline-flex;
    align-items: center;
    gap: 0.8rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.2rem;
        gap: 0.6rem;
    }

    &::before {
        content: '';
        display: block;
        width: 1.4rem;
        height: 1.4rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../img/diamond-shape-brown.svg');
        flex-shrink: 0;

        @include breakpoint(mobile) {
            width: 1.4rem;
            height: 1.4rem;
        }
    }
}

.apartments__slider-card-btns {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2rem;
    margin-top: auto;

    @include breakpoint(mobile) {
        grid-gap: 1rem;
        grid-template-columns: minmax(0, 1fr);
        margin: 0;
    }
}

.apartments__slider-card-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #3a241f;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
    padding: 1.4rem 2.8rem;
    min-height: 46px;
    color: #3a241f;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 120%;
        padding: 1rem 2rem;
        min-height: 44px;

        &:not(.apartments__slider-card-btn--filled) {
            display: none;
        }
    }
    &:link,
    &:visited {
        color: #3a241f;
    }

    &--filled {
        background-color: #3a241f;
        color: #fff;
        font-weight: 700;
        &:link,
        &:visited {
            color: white;
        }
    }

    .no-touch &:hover {
        .apartments__slider-card-btn-text {
            transform: translateX(-1rem);

            svg {
                opacity: 1;
                visibility: inherit;
                transition: opacity 0.2s, visibility 0.2s;
            }
        }
    }
}

.apartments__slider-card-btn-text {
    position: relative;
    transition: transform 0.2s;
    display: block;
    svg {
        position: absolute;
        left: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s, visibility 0s linear 0.2s;
        fill: currentColor;
        width: 2rem;
        height: 2rem;
        margin-left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 0.2rem;
    }
}

.apartments__slider-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;

    @include breakpoint(mobile) {
        display: none;
    }
}

.apartments__slider-arrow {
    flex-shrink: 0;
    transition: opacity 0.2s;

    &.swiper-button-disabled {
        opacity: 0.5;
        cursor: default;
    }

    svg {
        flex-shrink: 0;
        fill: #3a241f;
        transition: fill 0.2s, transform 0.2s;
        width: 2.7rem;
        height: 2rem;
    }
}

.apartments__slider-pagination {
    width: 6rem;
    flex-shrink: 0;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #3a241f;

    @include breakpoint(mobile) {
        display: none;
    }
}

.apartments__slider-card-mobile-btn {
    display: none;

    @include breakpoint(mobile) {
        display: inline-flex;
        align-items: center;
        font-style: normal;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 120%;
        gap: 1.5rem;
        color: #968a71;
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 120%;
        gap: 1.1rem;
        margin-bottom: 2rem;
        margin-top: auto;
    }

    svg {
        flex-shrink: 0;
        fill: currentColor;
        width: 2.7rem;
        height: 2.1rem;
        transition: fill 0.2s, transform 0.3s;
        margin-top: 0.15rem;

        @include breakpoint(mobile) {
            width: 2.5rem;
            height: 1.8rem;
            margin-top: 0.1rem;
        }
    }
    &:link,
    &:visited {
        color: #968a71;
    }

    .no-touch &:hover,
    .touch &:active {
        svg {
            transform: translateX(0.3rem);
        }
    }
}
