.auth-panel {
    padding: 13rem 0;
    background: #ede8dd;

    &__body {
        max-width: 93rem;
        padding: 10rem 5rem;
        margin: 0 auto;
        background: #ffffff;
    }

    &__title {
        margin-bottom: 3rem;
        font-family: var(--zhar-ptitza);
        font-size: 4rem;
        text-align: center;
        color: var(--text-color);
    }

    &__desc {
        font-size: 1.6rem;
        text-align: center;
        line-height: 1.4;

        p {
            margin-top: 0.8rem;
        }

        b {
            font-weight: 500;
        }
    }

    &__form {
        max-width: 33rem;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    &__phone {
    }

    &__code {
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;

        @include breakpoint(mobile) {
            margin-top: 1.5rem;
        }

        &-sms {
            flex-direction: column-reverse;
        }

        &__input {
            margin-left: 0.5em;
            border-bottom: 1px solid #968a7180;
            width: 7rem;
            font-size: 2.4rem;
            font-weight: 500;
            text-align: center;

            &,
            &::placeholder {
                color: #cec1a3;
            }
        }
    }

    &__btn-go {
        margin-top: 3rem;
    }

    &__tip {
        margin: 0 auto;
        margin-top: 1rem;
        max-width: 40rem;
        font-size: 1.2rem;
        line-height: 1.2;
        color: #968a71;

        @include breakpoint(mobile) {
            font-size: 1rem;
        }

        &.js-code-error {
            display: none;
        }
    }

    &__actions {
        // margin-top: 1rem;
        font-size: 1rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        &__item {
            display: inline-block;
            margin: 0 1rem;
        }

        &-link {
            display: inline-block;
            margin: 0 1rem;
        }

        &__call {
            display: none;
        }

        a {
            padding: 0.5rem 0;
            font-size: 1.2rem;
            text-decoration: underline;
            color: #968a71;

            @include breakpoint(mobile) {
                font-size: 1rem;
            }
        }
    }

    .booking__checkout-form-submit {
        background-color: var(--text-color);
    }
}

@media only screen and (max-width: 640px) {
    .auth-panel {
        padding-top: 7rem;
        padding-bottom: 3rem;
        background: none;

        &__title {
            font-size: 3.2rem;
        }

        &__body {
            padding: 0;
        }

        &__desc {
            font-size: 1.4rem;
        }

        &__actions {
            font-size: 1.2rem;

            &__item {
                display: block;
                margin: 1rem 0;
            }
        }
    }
}
