.booking-room-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;

  display: flex;
  flex-direction: column;
  z-index: 200;
  background: #ede8dd;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s linear 0.4s;
  padding: var(--content-padding) 0;

  overscroll-behavior-y: contain;
  overflow-y: auto;

  @include breakpoint(mobile) {
    background-color: #fff;
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  &.active {
    opacity: 1;
    visibility: inherit;
    transition: opacity 0.4s, visibility 0.4s;
  }

  .container {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.booking-room-modal__inner {
  width: 100%;
  max-width: 92rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  right: calc(var(--sb-width, 0) / 2);
}

.booking-room-modal__heading {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  font-family: var(--zhar-ptitza);
  line-height: 120%;
  color: var(--secondary-color);
  margin-bottom: 2rem;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 120%;
    letter-spacing: 0.05em;
    margin-bottom: 2rem;
  }
}

.booking-room-modal__content {
  background: #ffffff;
  color: black;
  padding: 4rem;
  padding-top: 0;
  padding-bottom: 3rem;
  overflow: hidden;

  @include breakpoint(mobile) {
    display: contents;
  }
}

.booking-room-modal__top-row {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: space-between;
  min-height: 6rem;
}


.booking-room-modal__arrows {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  flex-shrink: 0;
}

.booking-room-modal__arrow {
  flex-shrink: 0;
  width: 2.5rem;
  height: 1.9rem;
  transition: opacity 0.2s;

  &.swiper-button-disabled {
    opacity: 0.5;
  }

  &:hover {
    svg {
      fill: var(--text-color);
    }
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: #968a71;
    transition: fill 0.2s, transform 0.2s;
  }
}

.booking-room-modal__close {
  flex-shrink: 0;
  width: 3.2rem;
  height: 3.2rem;
  flex-shrink: 0;

  @include breakpoint(mobile) {
    width: 2.8rem;
    height: 2.8rem;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: #968a71;
    transition: fill 0.2s;
  }

  &:hover,
  &:active {
    svg {
      fill: black;
    }
  }
}

.booking-room-modal__slider {
  @include breakpoint(mobile) {
    margin: 0 calc(-1 * var(--content-padding));
  }

  .swiper {
    overflow: visible;
    @include breakpoint(mobile) {
      overflow: hidden;
    }
  }

  .swiper-slide {
    width: 30rem;
    display: flex;
    flex-direction: column;
    margin: 0 0.8rem;

    @include breakpoint(mobile) {
      width: 100%;
      margin: 0;
    }
  }
}

.booking-room-modal__slider-card {
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-bottom: 65%;

    @include breakpoint(mobile) {
      padding-bottom: 70%;
    }
  }
}

.booking-room-modal__card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.booking-room-modal__row {
  margin-top: 4rem;
  display: flex;
  align-items: flex-start;
  gap: 4rem;

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 0;
  }
}

.booking-room-modal__left-col {
  width: 50%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  @include breakpoint(mobile) {
    width: 100%;
    flex-grow: 0;
    display: contents;
  }
}

.booking-room-modal__right-col {
  width: 26rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;

  @include breakpoint(mobile) {
    width: 100%;
    flex-shrink: 1;
    display: contents;
  }
}

.booking-room-modal__type {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 150%;

  @include breakpoint(mobile) {
    font-size: 1.4rem;
    line-height: 120%;
    margin-bottom: 1rem;
  }
}

.booking-room-modal__inner-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 120%;
  font-family: var(--zhar-ptitza);
  margin-bottom: 1.2rem;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 120%;
    letter-spacing: 0.05em;
  }
}

.booking-room-modal__inner-text {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 120%;
  max-width: 48rem;
  margin-bottom: 1.2rem;

  @include breakpoint(mobile) {
    max-width: none;
    font-size: 1.2rem;
    order: 9;
    margin-bottom: 3rem;
  }
}

.booking-room-modal__schedule {
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
  row-gap: 4rem;
  align-items: flex-start;
  margin-bottom: 3rem;

  @include breakpoint(mobile) {
    gap: 2rem;
    row-gap: 1rem;
    margin-bottom: 1.8rem;
  }
}

.booking-room-modal__schedule-item-key {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 120%;
  margin-bottom: 0.2rem;

  @include breakpoint(mobile) {
    font-size: 1.4rem;
    line-height: 120%;
  }
}

.booking-room-modal__schedule-item-value {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 120%;

  @include breakpoint(mobile) {
    font-size: 1.4rem;
    line-height: 120%;
  }
}

.booking-room-modal__back-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 120%;
  text-decoration-line: underline;
  transition: all 0.2s;

  @include breakpoint(mobile) {
    font-size: 1.4rem;
    line-height: 120%;
    order: 10;
  }

  &:hover {
    text-decoration-color: transparent;
  }
}

.booking-room-modal__list {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-gap: 3.2rem;

  @include breakpoint(mobile) {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
}

.booking-room-modal__card {
  display: flex;
  flex-direction: column;

  @include breakpoint(mobile) {
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
  }

  svg {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    fill: #b7a98a;
    margin-bottom: 1rem;

    @include breakpoint(mobile) {
      width: 1.5rem;
      height: 1.5rem;
      margin: 0;
    }
  }
}

.booking-room-modal__card-title {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 120%;
  color: #b7a98a;
  margin-bottom: 0.2rem;

  @include breakpoint(mobile) {
    display: none;
  }
}

.booking-room-modal__card-text {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 120%;

  @include breakpoint(mobile) {
    font-style: normal;

    font-size: 1.2rem;
    color: #b7a98a;
    line-height: 170%;
  }
}

#booking-room-calendar-modal {
  .booking-room-modal__inner {
    max-width: 102rem;
  }

  .booking-room-modal__content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .booking-room-modal__top-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .booking-room-modal__data {
    font-family: var(--avenir);
    font-size: 20px;
    line-height: 28px;
    font-weight: 450;
    color: #060301;
    display: flex;
    flex-direction: column;
    gap: 4px;

    .room-name {
      font-size: 32px;
      line-height: 32px;
    }
  }

  .calendar-container {
    position: relative;
    padding: 15px 0 0;

    .selected-date__info {
      display: flex;
      width: 100%;

      .selected-info {
        height: 40px;
        padding: 0 18px;
        display: flex;
        align-items: center;
        font-family: var(--avenir);
        font-size: 16px;
        line-height: 22px;
        font-weight: 450;
        color: #968A71;
      }
    }

    .news__arrows-btn--up {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;

      &:disabled {
        pointer-events: none;
        opacity: 0.5;
      }
    }

    .news__arrows-btn--down {
      position: relative;
      transform: rotate(180deg);
    }

    &:after {
      position: absolute;
      content: '';
      height: 100%;
      left: 40px;
      top: 0;
      border-right: 1px solid #3A241F;
    }
  }

  .calendar {
    font-size: 11px;

    .time-header {
      .time-cell {
        position: relative;
        height: 20px;

        > span {
          position: relative;
          right: -60%;
          color: #3A241F;
        }

      }
    }


    .date-rows {
      position: relative;

    }

    .date-row {
      height: 20px;
    }

    .date-cell {
      width: 40px;
      min-width: 40px;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20px;
        color: #CEBE9D;

      }

      &.active {
        div {
          color: #3A241F;
        }
      }
    }

    .time-slot {
      border-bottom: 1px solid #EDE8DD;
      border-right: 1px solid #EDE8DD;
      cursor: pointer;
      width: 34px;
      min-width: 34px;

      &:hover {
        background-color: #E5DECF;
      }
      &.hover {
        background-color: #E5DECF;
      }

      &.selected {
        background-color: #DFCEAB;
      }

      &.booked {
        pointer-events: none;
        background-color: #6D554D;
      }

      &.disabled {
        pointer-events: none;
        cursor: not-allowed;
      }

      &.empty {
        pointer-events: none;
        position: relative;
        background: #F7F5F2 !important;

        &:after {
          position: absolute;
          content: '✕';
          width: 100%;
          height: 100%;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }


    }
  }

  .booking__bottom-row {
    margin-top: 10px;
    padding: 0 18px 0 40px;

    .booking__back-btn {
      background: #fff0;
      border: 1px solid #060301;
      color: #060301;
    }
  }
}

.tooltip {
  position: absolute;
  box-shadow: 0 2px 2px 0 #00000059;
  border: 1px solid #EDE8DD;
  background-color: #F7F5F2;
  color: #B60000;
  padding: 2px 12px;
  font-size: 12px;
  pointer-events: none;
  z-index: 1000;
}
