.certificates-gifts {
    padding-bottom: 15rem;

    @include breakpoint(mobile) {
        padding-bottom: 6rem;
    }
}

.certificates-gifts__heading {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 120%;
    font-family: var(--zhar-ptitza);
    margin-bottom: 2rem;
    color: #3a241f;

    @include breakpoint(mobile) {
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 120%;
        letter-spacing: 0.05em;
        margin-bottom: 1.5rem;
        text-align: left;
    }
}

.certificates-gifts__tabs-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 6rem;

    @include breakpoint(mobile) {
        gap: 1rem;
        margin-bottom: 2.5rem;
        justify-content: flex-start;
    }
}

.certificates-gifts__tabs-nav-btn {
    display: inline-flex;
    align-items: center;
    padding: 1rem;
    border: 1px solid #ead7ca;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    gap: 0.6rem;
    transition: border-color 0.2s;
    flex-shrink: 0;

    @include breakpoint(mobile) {
        padding: 0.7rem;
        font-size: 1.2rem;
        line-height: 1.7rem;
    }
    &::before {
        content: '';
        width: 1.4rem;
        height: 1.4rem;
        flex-shrink: 0;
        background-image: url('../img/diamond-shape-black.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        @include breakpoint(mobile) {
            width: 1.2rem;
            height: 1.2rem;
        }
    }

    .no-touch &:hover,
    .touch &:active {
        border-color: var(--text-color);
    }

    &.active {
        border-color: var(--text-color);
    }
}

.certificates-gifts__list {
    width: 100%;
    max-width: 126.2rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 5.5rem;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 2.5rem;
    }
}

.certificates-gifts__list-item {
    display: flex;
    flex-direction: column;
}

.certificates-gifts__card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 1.7rem;
    background-color: var(--primary-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3rem 3.5rem;
    min-height: 26rem;

    @include breakpoint(mobile) {
        min-height: 18rem;
        padding: 1.5rem;
    }

    &--white {
        color: #fff;

        .certificates-gifts__card-btn {
            color: #fff;
            border-color: #fff;

            .no-touch &:hover,
            .touch &:active {
                color: var(--text-color);
                background-color: #fff;
            }
        }
    }
}

.certificates-gifts__card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 120%;
    font-family: var(--zhar-ptitza);

    @include breakpoint(mobile) {
        font-size: 2.8rem;
        line-height: 120%;
        letter-spacing: 0.05em;
        margin-bottom: 1rem;
    }
}

.certificates-gifts__card-price {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 120%;
    margin-bottom: 2rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 120%;
    }
}

.certificates-gifts__card-btn {
    margin-top: auto;
    margin-left: auto;
    padding: 1.2rem 1.8rem;
    border: 1px solid var(--text-color);
    display: inline-flex;
    align-items: center;
    gap: 0.9rem;
    min-height: 46px;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    transition: all 0.2s;

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 120%;
        padding: 0.8rem 1.6rem;
        gap: 0.4rem;
        min-height: 44px;
    }
    svg {
        flex-shrink: 0;
        width: 2.4rem;
        height: 1.8rem;
        fill: currentColor;

        @include breakpoint(mobile) {
            width: 1.8rem;
            height: 1.4rem;
        }
    }

    .no-touch &:hover,
    .touch &:active {
        background-color: black;
        color: white;
    }
}

.certificates-gifts__tabs-items {
    margin-top: 6rem;

    @include breakpoint(mobile) {
        margin-top: 2.5rem;
    }
}

.certificates-gifts__tabs-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;

    &.active {
        z-index: 10;
        position: relative;
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
    }
}

.certificates-gifts__card-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 120%;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 120%;
    }
}

.certificates-gifts__card-link {
    display: inline-flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 120%;
    gap: 1rem;
    color: #968a71;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
    }

    svg {
        flex-shrink: 0;
        fill: currentColor;
        width: 2rem;
        height: 2rem;
    }
}

.certificates-gifts__card-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}
