.certificates-rules {
    padding-bottom: 13rem;

    @include breakpoint(mobile) {
        padding-bottom: 5.6rem;
    }
}
.certificates-rules__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 120%;
    text-align: center;
    margin-bottom: 6rem;
    color: #3a241f;
    font-family: var(--zhar-ptitza);

    @include breakpoint(mobile) {
        font-weight: 400;
        font-size: 2.8rem;
        line-height: 120%;
        letter-spacing: 0.05em;
        color: #3a241f;
        margin-bottom: 2.8rem;
    }
}

.certificates-rules__accordions-row {
    width: 100%;
    margin: 0 auto;
    max-width: 114.6rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 12rem;

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: 0;
        grid-gap: 0;
    }
}

.certificates-rules__accordions-col {
    display: flex;
    flex-direction: column;
}

.certificates-rules__accordion {
    border-top: 1px solid rgba(106, 106, 106, 0.2);

    @include breakpointMF(small-tablet) {
        &:last-child {
            border-bottom: 1px solid rgba(106, 106, 106, 0.2);
        }
    }

    @include breakpoint(mobile) {
        .certificates-rules__accordions-col:last-child &:last-child {
            border-bottom: 1px solid rgba(106, 106, 106, 0.2);
        }
    }
}

.certificates-rules__accordion-btn {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 120%;
    padding: 2.2rem 0;
    cursor: pointer;
    user-select: none;

    @include breakpoint(mobile) {
        padding: 1.8rem 0;
        align-items: flex-start;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 120%;
    }
    &::after {
        content: '';
        flex-shrink: 0;
        width: 2rem;
        height: 2rem;
        background-image: url('../img/diamond-shape-black.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        @include breakpoint(mobile) {
            width: 1.6rem;
            height: 1.6rem;
        }
    }
}

.certificates-rules__accordion-content {
    height: 0;
    overflow: hidden;
}

.certificates-rules__accordion-content-inner {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 120%;
    padding-bottom: 3.2rem;
    padding-right: 5rem;

    @include breakpoint(mobile) {
        padding-bottom: 2.5rem;
        font-size: 1.2rem;
        padding-right: 1.5rem;
        line-height: 120%;
    }
}
