.complex-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: contain;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    z-index: 400;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
    padding: 4rem var(--content-padding);
    cursor: pointer;
    &.active {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
    }

    @include breakpoint(mobile) {
        padding: 0;
    }
}

.complex-modal__inner {
    width: 100%;
    max-width: 82rem;
    margin: auto;
    position: relative;
    background-color: #ede8dd;
    padding: 5rem 7rem;
    display: flex;
    flex-direction: column;
    cursor: default;

    @include breakpoint(mobile) {
        padding: 1rem var(--content-padding);
        padding-bottom: 2rem;
        flex-grow: 1;
        margin: 0;
    }
}

.complex-modal__close {
    flex-shrink: 0;
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    position: absolute;
    right: 1rem;
    top: 1rem;

    @include breakpoint(mobile) {
        position: static;
        margin-left: auto;
        margin-bottom: 1rem;
        width: 3.5rem;
        height: 3.5rem;
    }

    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: #968a71;
        transition: fill 0.2s;

        @include breakpoint(mobile) {
            fill: black;
        }
    }

    .no-touch &:hover,
    .touch &:active {
        svg {
            fill: black;
        }
    }
}

.complex-modal__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 5rem;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 1.5rem;
    }
}

.complex-modal__list-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.complex-modal__card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    flex-grow: 1;

    .no-touch &:hover {
        .complex-modal__card-btn-text {
            transform: translateX(-1rem);

            svg {
                opacity: 1;
                visibility: inherit;
                transition: opacity 0.2s, visibility 0.2s;
            }
        }
    }
}

.complex-modal__card--disabled {
    pointer-events: none;
}

.complex-modal__card-image-container {
    position: relative;
    &::before {
        content: '';
        display: block;
        padding-bottom: 62%;

        @include breakpoint(mobile) {
            padding-bottom: 40%;
        }
    }
}

.complex-modal__card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.complex-modal__card-location {
    position: absolute;
    left: 1rem;
    top: 1rem;
    background-color: #fff;
    z-index: 5;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #3a241f;

    padding: 0.6rem 0.8rem;

    font-size: 1.2rem;
    font-style: normal;
    font-weight: 450;
    line-height: 120%;

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        padding: 0.4rem 0.8rem;
        gap: 0.3rem;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    svg {
        width: 1.2rem;
        height: 1.2rem;
        fill: currentColor;
        flex-shrink: 0;

        @include breakpoint(mobile) {
            width: 1rem;
            height: 1rem;
        }
    }
}

.complex-modal__card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2rem;

    @include breakpoint(mobile) {
        padding: 1.5rem;
    }
}

.complex-modal__card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 120%;
    margin-bottom: 0.5rem;
    text-align: center;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 120%;
    }
}

.complex-modal__card-title-text {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 450;
    line-height: 120%;
    text-align: center;
    margin-bottom: 1.7rem;
    color: #968a71;

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        margin-bottom: 1.3rem;
    }
}

.complex-modal__card-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--text-color);
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
    padding: 1.4rem 2.8rem;
    color: var(--text-color);
    margin-top: auto;

    .complex-modal__card--disabled & {
        opacity: 0.3;
        cursor: default;
    }

    &:only-child {
        grid-column: 1 / -1;
        @include breakpointMF(small-tablet) {
            justify-self: center;
            width: 27rem;
        }
    }

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1.1rem;
        line-height: 120%;
        padding: 1rem 2rem;
    }
    &:link,
    &:visited {
        color: black;
    }

    &--filled {
        background-color: var(--text-color);
        color: #fff;
        font-weight: 700;
        &:link,
        &:visited {
            color: white;
        }
    }
}

.complex-modal__card-btn-text {
    position: relative;
    transition: transform 0.2s;
    display: block;
    svg {
        position: absolute;
        left: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s, visibility 0s linear 0.2s;
        fill: currentColor;
        width: 2rem;
        height: 2rem;
        margin-left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 0.2rem;
    }
}
