.features {
    padding-top: 0;
    padding-bottom: 7.5rem;
    position: relative;
    background-color: #fff;
    z-index: 1;

    .about-space + & {
        background-color: transparent;
    }

    .intro + & {
        padding-top: 10rem;

        @include breakpoint(mobile) {
            padding-top: 4.4rem;
        }
    }

    .bath-rest + & {
        padding-top: 13rem;

        @include breakpoint(mobile) {
            padding-top: 5rem;
        }
    }

    @include breakpoint(mobile) {
        padding-bottom: 6rem;
    }
}

.features__content {
    width: 100%;
    margin: 0 auto;
    max-width: 102.5rem;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, 1.26fr) minmax(0, 1fr);
    grid-gap: 13.7rem;

    @include breakpoint(mobile) {
        max-width: none;
        display: grid;

        grid-template-columns: minmax(0, 1fr);
        grid-gap: 4.5rem;
    }
}

.features__left-col {
    padding-top: 10rem;
    @include breakpoint(mobile) {
        padding-left: 4rem;
        padding-top: 0;

        &--mobile-fullwidth {
            padding: 0;
        }

        &--mobile-last {
            order: 12;
        }
    }
}

.features__left-about {
    padding-top: 4rem;
    @include breakpoint(mobile) {
        padding-top: 0;
    }
}

.features__left-room {
    padding-top: 7rem;
    @include breakpoint(mobile) {
        padding-top: 0;
    }
}

.features__right-col {
    padding-top: 5.4rem;
    @include breakpoint(mobile) {
        padding-top: 0;
        padding-right: 5rem;

        &--mobile-right-aligned {
            padding-right: 0;
            padding-left: 5rem;
        }
    }
}
.features__slider {
    position: relative;

    .swiper-slide {
        width: 50%;

        @include breakpoint(mobile) {
            width: 100%;
        }
    }
}
.features__slider-arrows {
    gap: 2.2rem;
    display: flex;
    align-items: center;
    z-index: 20;
    margin-bottom: 1.8rem;
    justify-content: flex-end;
    @include breakpoint(mobile) {
        gap: 1.6rem;

        padding-left: 4rem;
        margin-bottom: 1rem;
    }
}

.features__slider-arrow {
    flex-shrink: 0;
    transition: opacity 0.2s;

    &.swiper-button-disabled {
        opacity: 0.5;
        cursor: default;
    }
    svg {
        width: 4rem;
        height: 3rem;
        display: block;
        fill: var(--text-color);
        transition: fill 0.2s;

        @include breakpoint(mobile) {
            width: 2.8rem;
            height: 2.1rem;
        }
    }

    .no-touch &:not(.swiper-button-disabled):hover,
    .touch &:not(.swiper-button-disabled):active {
        svg {
            fill: #968a71;
        }
    }
}

.features__slider-card {
    display: flex;
    flex-direction: column;
}

.features__image-wrapper {
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    margin-bottom: 2.5rem;

    &::before {
        content: '';
        display: block;
        padding-bottom: 75%;
    }
    @include breakpoint(mobile) {
        margin-bottom: 2rem;
        margin-top: 0;
    }
}

.features__image-parallax {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.features__slider-card-image-container {
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    margin-bottom: 2.5rem;

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }

    &::before {
        content: '';
        display: block;
        padding-bottom: 130%;
    }
}

.features__slider-card-parallax {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.features__slider-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.features__slider-card-title,
.features__title {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 140%;
    margin-bottom: 1.3rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 120%;
        margin-bottom: 1rem;
    }
}

.features__slider-card-text,
.features__text {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 140%;
    margin-bottom: 2rem;
    max-width: 34rem;

    &--fullwidth {
        max-width: none;
    }

    p {
        margin-bottom: 1.5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
    ul {
        & > li {
            margin-bottom: 1rem;
            padding-left: 2.5rem;
            position: relative;

            @include breakpoint(mobile) {
                padding-left: 2rem;
                margin-bottom: 1rem;
            }

            &::before {
                content: '';
                position: absolute;
                left: 0;
                width: 1.5rem;
                height: 1.5rem;
                top: 0.3rem;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url('../img/diamond-shape-black.svg');

                @include breakpoint(mobile) {
                    width: 1rem;
                    height: 1rem;
                    top: 0.35rem;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint(mobile) {
        max-width: none;
        font-style: normal;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.4;
        margin-bottom: 2rem;
        max-width: 25rem;

        &--fullwidth {
            max-width: none;
        }
    }
}

.features__slider-card-link,
.features__link {
    display: inline-flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 120%;
    color: #968a71;
    gap: 1.6rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 120%;
        gap: 1rem;
    }

    svg {
        width: 2.7rem;
        height: 2rem;
        fill: currentColor;
        flex-shrink: 0;
        transition: transform 0.3s;
        margin-top: 0.2rem;
        @include breakpoint(mobile) {
            width: 1.6rem;
            height: 1.2rem;
        }
    }
    &:link,
    &:visited {
        color: #968a71;
    }

    .no-touch &:hover,
    .touch &:active {
        svg {
            transform: translateX(0.3rem);
        }
    }
}

.features__mobile-order-link {
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
    display: block;
    width: 100%;
    padding: 1.2rem 2.4rem;
    color: #ffffff;
    background: var(--text-color);
    margin-top: 4rem;
    @include breakpointMF(small-tablet) {
        display: none;
    }
    &:link,
    &:visited {
        color: white;
    }
}
