.form {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto 6rem;

    @include breakpoint(mobile) {
        margin: 4rem auto 0;
    }

    &__content {
        background: #ede8dd;
        padding: 6rem;

        @include breakpoint(mobile) {
            padding: 2rem;
        }
    }
}
