.form {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto 6rem;

    @include breakpoint(mobile) {
        margin: 4rem auto 0;
        max-width: 100%;
        background: #ede8dd;
    }

    &__content {
        background: #ede8dd;
        padding: 6rem;
        color: var(--secondary-color);

        & *::selection {
            color: inherit;
            background-color: #fff;
            -webkit-text-fill-color: unset;
        }

        @include breakpoint(mobile) {
            padding: 2rem 0;
        }
    }
}
