.container {
    width: 100%;
    max-width: calc(var(--max-container-width) + 2 * var(--content-padding));
    margin: 0 auto;
    padding: 0 var(--content-padding);
    @supports (width: max(20vw, 100px)) {
        padding-left: max(env(safe-area-inset-left, 1.4rem), var(--content-padding));
        padding-right: max(env(safe-area-inset-right, 1.4rem), var(--content-padding));
    }
}

.page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow: clip;
}

.page-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &__heading {
        padding-top: 12rem;
        margin-bottom: 7rem;

        @include breakpoint(mobile) {
            padding-top: 8rem;
            margin-bottom: 3rem;
        }
    }

    &__title {
        margin: 0;
        font-style: normal;
        font-weight: 700;
        font-size: 6rem;
        line-height: 140%;
        font-family: var(--zhar-ptitza);
        color: #000;
        text-align: center;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        @include breakpoint(mobile) {
            font-size: 3.8rem;
        }
    }

    &__subtitle {
        margin: 0 auto;
        width: 100%;
        max-width: 60rem;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 140%;

        &:not(:last-child) {
            margin-bottom: 2.5rem;
        }

        @include breakpoint(mobile) {
            font-size: 1.2rem;
            line-height: 150%;

            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
    }
}
