.container {
    width: 100%;
    max-width: calc(var(--max-container-width) + 2 * var(--content-padding));
    margin: 0 auto;
    padding: 0 var(--content-padding);
    @supports (width: max(20vw, 100px)) {
        padding-left: max(env(safe-area-inset-left, 1.4rem), var(--content-padding));
        padding-right: max(env(safe-area-inset-right, 1.4rem), var(--content-padding));
    }
}

.page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow: clip;
}

.page-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &__heading {
        padding-top: 12rem;
        margin-bottom: 7rem;

        @include breakpoint(mobile) {
            padding-top: 8rem;
            margin-bottom: 3rem;
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: 7rem;
        font-style: normal;
        font-weight: 700;
        font-size: 6rem;
        line-height: 100%;
        letter-spacing: 0.05em;
        font-family: var(--zhar-ptitza);
        color: #000;
        text-align: center;

        @include breakpoint(mobile) {
            margin-bottom: 3rem;
            font-size: 3.8rem;
        }
    }
}
