.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    width: 100svw;
    bottom: 0;
    overscroll-behavior-y: contain;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
    background: #e2d8c0;
    color: var(--secondary-color);
    z-index: 600;

    .container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;

    .mobile-menu-open & {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
    }
}

.menu__inner {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.menu__content {
    @include breakpointMF(small-tablet) {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        position: relative;
        align-items: center;
        align-content: flex-start;
    }

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
    margin-bottom: 3.8rem;

    @include breakpoint(mobile) {
        margin-bottom: 3.5rem;
    }
}

.menu__link {
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    position: relative;
    line-height: 120%;

    text-transform: uppercase;
    align-self: flex-start;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 120%;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 1px;
        background-color: currentColor;
        transition: transform 0.2s;
        transform-origin: left center;
    }

    .no-touch &:hover,
    .touch &:active {
        &::before {
            transform: scaleX(0);
        }
    }
}

.menu__rotating-text {
    top: 50%;
    width: 60rem;
    height: 60rem;
    transform: translateY(-50%);
    left: 100%;
    margin-left: -20rem;
    position: absolute;
    pointer-events: none;
    z-index: -1;
    animation-name: textRotating;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    position: fixed;
    left: 90%;
    top: 35%;

    @include breakpoint(mobile) {
        display: none;
    }
    // text {
    //     fill: var(--secondary-color);
    //     font-family: var(--zhar-ptitza);

    //     font-weight: 700;

    //     font-size: 8rem;
    //     text-transform: uppercase;

    // }

    svg {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.menu__rotating-text-image {
    display: block;
    width: 100%;
    height: 100%;
}

@keyframes textRotating {
    from {
        transform: translateY(-50%) rotate(0deg);
    }

    to {
        transform: translateY(-50%) rotate(-360deg);
    }
}

.menu__top-row {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, auto) minmax(0, 1fr);
    grid-gap: 2rem;
    align-items: center;
    min-height: 8rem;
    border-bottom: 1px solid rgba(183, 169, 138, 0.5);

    @include breakpoint(mobile) {
        display: contents;
        grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
        display: grid;
        grid-template-areas: 'close logo empty' 'lang account account';
        grid-template-rows: minmax(5.2rem, auto) auto;
        grid-gap: 2rem;
        border: none;
        align-items: center;

        &::after {
            content: '';
            height: 1px;
            background-color: rgba(183, 169, 138, 0.5);
            grid-column: 1 / -1;
            grid-row: 1 / 2;
            pointer-events: none;
            align-self: flex-end;
        }
    }
}

.menu__controls {
    display: flex;
    align-items: center;

    @include breakpoint(mobile) {
        display: contents;
    }
}

.menu__close {
    flex-shrink: 0;
    width: 3rem;
    height: 3rem;
    margin-right: 2.4rem;

    @include breakpoint(mobile) {
        width: 2rem;
        height: 2rem;
        grid-area: close;
        margin: 0;
    }

    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: var(--secondary-color);
    }
}

.menu__languages {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-right: 5.5rem;

    @include breakpoint(mobile) {
        margin-right: 3rem;
        grid-area: lang;
    }
}

.menu__languages-link {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 120%;
    text-transform: uppercase;
    color: #b7a98a;
    position: relative;
    letter-spacing: 0.05em;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 120%;
    }
    &::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: currentColor;
    }
    &:link,
    &:visited {
        color: #b7a98a;
    }

    &.active {
        color: var(--secondary-color);
    }
}

.menu__account {
    display: inline-flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--secondary-color);
    gap: 1.4rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 120%;
        letter-spacing: 0.05em;
        text-decoration-line: underline;
        text-transform: uppercase;
        gap: 1rem;
        grid-area: account;
        justify-self: flex-end;
    }
    svg {
        flex-shrink: 0;
        width: 2rem;
        height: 2rem;
        fill: #b7a98a;

        @include breakpoint(mobile) {
            width: 1.5rem;
            height: 1.5rem;
            fill: currentColor;
        }
    }
    &:link,
    &:visited {
        color: var(--secondary-color);
    }
}

.menu__logo {
    font-size: 3rem;
    font-family: var(--zhar-ptitza);
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    @include breakpoint(mobile) {
        font-size: 1.5rem;
        grid-area: logo;
        white-space: nowrap;
        margin-top: 0.3rem;
        gap: 0.5rem;
    }
}

.menu__logo-text {
    text-align: center;
    color: currentColor;
    font-size: 1.2rem;
    line-height: 1.2;
    letter-spacing: 0.1em;

    @include breakpoint(mobile) {
        font-size: 0.7rem;
    }
}

.menu__logo-image {
    display: block;
    width: 20rem;
    height: auto;

    @include breakpoint(mobile) {
        width: 12rem;
        height: auto;
    }
}

.menu__order-link {
    margin-left: auto;
    flex-shrink: 0;
    white-space: nowrap;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: 0.15rem solid rgb(58, 36, 31);
    padding: 1.5rem 2rem;
    gap: 1rem;
    min-height: 50px;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    display: inline-flex;
    align-items: center;
    color: rgb(58, 36, 31);

    @include breakpoint(mobile) {
        display: none;
    }
    &:link,
    &:visited {
        color: rgb(58, 36, 31);
    }
    svg {
        flex-shrink: 0;
        width: 2.4rem;
        height: 1.8rem;
        fill: currentColor;
        transition: fill 0.2s, transform 0.4s;
    }

    .no-touch &:hover,
    .touch &:active {
        color: white;
        background-color: rgb(58, 36, 31);
        border-color: rgb(58, 36, 31);
        svg {
            transform: translateX(0.3rem);
        }
    }
}

.menu__mobile-order-link {
    margin-left: auto;
    flex-shrink: 0;
    white-space: nowrap;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: 0.15rem solid currentColor;
    padding: 1.5rem 2rem;
    gap: 1rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    display: inline-flex;
    align-items: center;
    color: black;
    display: none;
    @include breakpoint(mobile) {
        display: flex;
        margin-top: 3.5rem;
        border-width: 1px;
        width: 100%;
        justify-content: center;
    }
    &:link,
    &:visited {
        color: black;
    }
    svg {
        flex-shrink: 0;
        width: 2.4rem;
        height: 1.8rem;
        fill: currentColor;
        transition: fill 0.2s, transform 0.4s;
    }

    .no-touch &:hover,
    .touch &:active {
        svg {
            transform: translateX(0.3rem);
        }
    }
}

.menu__content {
    padding-top: 3.8rem;
    padding-bottom: 3.8rem;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 2rem;
    position: relative;
    z-index: 1;

    @include breakpoint(mobile) {
        padding-top: 2.7rem;
        padding-bottom: 2.7rem;
        display: flex;
        flex-direction: column;
    }
}

.menu__left-col {
    padding-left: 4.5rem;

    @include breakpoint(mobile) {
        padding: 0;
    }
}

.menu__left-col,
.menu__right-col {
    @include breakpointMF(small-tablet) {
        grid-column: span 6;
    }
}

.menu__right-col {
    @include breakpointMF(small-tablet) {
        align-self: center;
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        align-items: center;
    }
}

.menu__contacts {
    @include breakpointMF(small-tablet) {
        padding-left: 4rem;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        display: flex;
        flex-direction: column;
    }

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
    }
}

.menu__images-list {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
    display: grid;
    grid-template-columns: minmax(0, 1fr);

    @include breakpoint(mobile) {
        display: none;
    }
    &.active {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
    }
}

.menu__images-list-item {
    @include breakpointMF(small-tablet) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: grid;
    }
}

.menu__images-card {
    position: relative;
    opacity: 0;
    visibility: hidden;

    transition: opacity 0.4s ease 0.4s, visibility 0s linear 0.8s;

    @include breakpointMF(small-tablet) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    &.active {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
    }
    &::before {
        content: '';
        display: block;
        padding-bottom: 70%;
    }
}

.menu__images-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu__images-card-inner-images {
    display: contents;
}

.menu__images-card-inner-image-wrapper {
    position: relative;
    opacity: 0;
    visibility: hidden;
    z-index: 3;

    transition: opacity 0.4s, visibility 0s linear 0.4s;

    @include breakpointMF(small-tablet) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    &.active {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
    }
    &::before {
        content: '';
        display: block;
        padding-bottom: 70%;
    }
}

.menu__images-card-inner-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu__phone {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 180%;

    @include breakpoint(mobile) {
        align-self: flex-start;
        font-style: normal;
        font-weight: 700;
        font-size: 1.6rem;
        text-decoration-line: underline;
        line-height: 120%;
        margin-bottom: 2.5rem;
    }
}

.menu__address {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 180%;
    margin-bottom: 2.7rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 150%;
        margin-bottom: 2rem;
    }
}

.menu__closest {
    display: flex;
    flex-direction: column;
    grid-gap: 0.5rem;
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.menu__closest-item {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 120%;
    gap: 0.9rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 120%;
    }
    svg {
        width: 1.4rem;
        height: 1.4rem;
        fill: currentColor;
    }
}

.menu__show-on-map {
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    position: relative;
    line-height: 120%;
    margin-bottom: 3.8rem;
    text-transform: uppercase;
    align-self: flex-start;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 120%;
        margin-bottom: 3.5rem;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 1px;
        background-color: currentColor;
        transition: transform 0.2s;
        transform-origin: left center;
    }

    .no-touch &:hover,
    .touch &:active {
        &::before {
            transform: scaleX(0);
        }
    }
}

.menu__social-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.4rem;
}

.menu__social-list-item {
    flex-shrink: 0;
}

.menu__social-link {
    display: block;
}

.menu__social-link-icon {
    height: 2.2rem;
    display: block;
    width: auto;
    max-width: none;
}
.menu__nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -0.5rem;

    @include breakpoint(mobile) {
        margin: 0;
        gap: 1.5rem;
    }
}

.menu__nav-list-item {
    padding: 0.5rem 0;

    @include breakpoint(mobile) {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 0fr;
        transition: grid-template-rows 500ms;

        &.shown {
            grid-template-rows: auto 1fr;
        }
    }
    &.active {
        .menu__nav-link {
            &::before {
                transform: translateY(-50%) scale(1);
            }
        }
    }
}

.menu__nav-link {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: var(--zhar-ptitza);

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 700;
        font-size: 3.4rem;
        line-height: 120%;

        font-size: 3rem;
        line-height: 1.1;
    }

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%) scale(0);
        width: 3.3rem;
        height: 3.3rem;
        background-image: url('../img/diamond-shape-brown.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: opacity 0.2s, transform 0.2s;
        pointer-events: none;
        right: 100%;
        margin-right: 1.5rem;
        margin-top: -0.6rem;

        @include breakpoint(mobile) {
            display: none;
        }
    }
}

.menu__submenu-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.8rem;
    padding-bottom: 2rem;
    padding-top: 1.5rem;

    @include breakpointMF(small-tablet) {
        column-gap: 0;
    }

    @include breakpoint(mobile) {
        gap: 0.5rem;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 0;
        padding-top: 0;

        overflow: hidden;
        flex-wrap: nowrap;
    }
}

.menu__submenu-list-item {
    flex-shrink: 0;

    @include breakpoint(mobile) {
        &:first-child {
            padding-top: 1.5rem;
        }
    }
}

.menu__submenu-link {
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    gap: 1.2rem;
    color: black;
    display: flex;

    @include breakpointMF(small-tablet) {
        padding-right: 2.8rem;
    }
    &:link,
    &:visited {
        color: black;
    }
    svg {
        width: 2.5rem;
        height: 2rem;
        fill: currentColor;
        transition: transform 0.4s;
    }

    .no-touch &:hover,
    .touch &:active {
        svg {
            transform: translateX(0.3rem);
        }
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.2;
        gap: 0.5rem;

        svg {
            width: 1.8rem;
            height: 1.8rem;
        }
    }
}
