.news {
    padding-top: 4.8rem;
    padding-bottom: 7.4rem;
    position: relative;
    z-index: 1;
    background: white;
    .rooms + & {
        padding-top: 0;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    @include breakpoint(mobile) {
        padding-top: 4rem;
        padding-bottom: 4rem;

        .rooms + & {
            padding-top: 0;
        }
    }
}

.news__top-row {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 4rem;
    justify-content: space-between;

    @include breakpoint(mobile) {
        display: contents;
    }
}

.news__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 9rem;
    line-height: 120%;
    letter-spacing: 0.05em;
    font-family: var(--zhar-ptitza);

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 700;
        font-size: 3.8rem;
        line-height: 1.1;
        margin-bottom: 3rem;
        color: var(--text-color);
        text-align: center;
        font-size: 3.8rem;
        line-height: 1;
        margin-bottom: 1.7rem;
    }
}

.news__arrows {
    display: flex;
    align-items: center;
    gap: 2.8rem;
    flex-shrink: 0;

    @include breakpoint(mobile) {
        display: none;
    }
}

.news__arrows-btn {
    flex-shrink: 0;
    transition: opacity 0.2s;

    &.swiper-button-disabled {
        opacity: 0.5;
        cursor: default;
    }
    svg {
        width: 5rem;
        height: 3.7rem;
        fill: black;
        transition: fill 0.2s;
    }

    .no-touch &:not(.swiper-button-disabled):hover,
    .touch &:not(.swiper-button-disabled):active {
        svg {
            fill: #968a71;
        }
    }
}

.news__slider {
    .swiper-slide {
        width: 25%;

        @include breakpoint(mobile) {
            width: 18.8rem;
            margin-right: 3.3rem;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .swiper {
        @include breakpoint(mobile) {
            overflow: visible;
        }
    }
}

.news__slider-card {
    display: flex;
    flex-direction: column;

    .no-touch &:hover {
        .news__slider-card-link {
            svg {
                transform: translateX(0.3rem);
            }
        }
    }
}

.news__slider-card-image-container {
    position: relative;
    background: #ede8dd;
    margin-bottom: 2.2rem;
    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &::before {
        content: '';
        display: block;
        padding-bottom: 120%;
    }
}

.news__slider-card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 120%;
    margin-bottom: 1.2rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 120%;
    }
}

.news__slider-card-text {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 120%;
    margin-bottom: 1.4rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 170%;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.news__slider-card-link {
    display: inline-flex;
    align-items: center;
    align-self: flex-start;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    color: #968a71;
    line-height: 120%;
    gap: 1.5rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 120%;
        gap: 1.1rem;
    }
    svg {
        width: 2.7rem;
        height: 2.1rem;
        flex-shrink: 0;
        fill: currentColor;
        transition: transform 0.2s;

        @include breakpoint(mobile) {
            width: 2.4rem;
            height: 1.8rem;
        }
    }
}

.news__all-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--text-color);
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
    padding: 1.4rem 2.8rem;
    color: var(--text-color);
    margin-top: 3rem;
    align-self: center;
    width: 27rem;
    max-width: 100%;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1.1rem;
        line-height: 140%;
        padding: 1rem 2rem;
        align-self: stretch;
        width: auto;
        margin-top: 2rem;
    }
    &:link,
    &:visited {
        color: black;
    }

    &--filled {
        background-color: var(--text-color);
        color: #fff;
        font-weight: 700;
        &:link,
        &:visited {
            color: white;
        }
    }

    .no-touch &:hover {
        .news__all-btn-text {
            transform: translateX(-1rem);

            svg {
                opacity: 1;
                visibility: inherit;
                transition: opacity 0.2s, visibility 0.2s;
            }
        }
    }
}

.news__all-btn-text {
    position: relative;
    transition: transform 0.2s;
    display: block;
    svg {
        position: absolute;
        left: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s, visibility 0s linear 0.2s;
        fill: currentColor;
        width: 2rem;
        height: 2rem;
        margin-left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 0.2rem;
    }
}
