.newsletter {
    position: fixed;
    z-index: 150;
    bottom: 2rem;
    right: 10rem;
    width: 33.5rem;
    background: #3a241f;
    color: #ede8dd;
    background-image: url('../img/newsletter-bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1.5rem 3rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;

    @include breakpointMF(small-tablet) {
        @supports (width: 100svw) {
            left: 100svw;
            right: auto;
            margin-left: -10rem;
            transform: translateX(-100%) translateZ(0);
        }
    }

    @include breakpoint(mobile) {
        width: auto;
        left: 0;
        right: 0;
        bottom: 0;
        padding: var(--content-padding);
    }

    &.shown {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.3s, visibility 0.3s;
    }

    &__success {
        margin-top: 0.5rem;
        font-size: 1.2rem;
        transition: opacity 0.3s, visibility 0.3s;

        @include breakpoint(mobile) {
            text-align: center;
        }
    }
}
.newsletter__close {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    z-index: 7;
    width: 1.3rem;
    height: 1.3rem;

    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: currentColor;
    }
}

.newsletter__slider-card {
    padding: 1px;
    display: flex;
    flex-direction: column;
}

.newsletter__slider-card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 140%;
    margin-bottom: 0.8rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.4;
        margin-bottom: 0.5rem;
    }
}

.newsletter__slider-card-text {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 140%;
    margin-bottom: 1.5rem;

    @include breakpoint(mobile) {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
}

.newsletter__slider-card-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 1.4rem 2.8rem;
    width: auto;

    border: 1px solid #ede8dd;
    color: #ede8dd;
    transition: background-color 0.2s, color 0.2s;
    align-self: stretch;
    width: auto;
    align-self: stretch;
    margin: 0 1px;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.7rem;

        padding: 1.3rem 2.6rem;
    }
    &:link,
    &:visited {
        color: #ede8dd;
    }

    .no-touch &:hover {
        .newsletter__slider-card-link-text {
            transform: translateX(-1rem);

            svg {
                opacity: 1;
                visibility: inherit;
                transition: opacity 0.2s, visibility 0.2s;
            }
        }
    }
}

.newsletter__slider-card-link-text {
    position: relative;
    transition: transform 0.2s;
    display: block;
    svg {
        position: absolute;
        left: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s, visibility 0s linear 0.2s;
        fill: currentColor;
        width: 2rem;
        height: 2rem;
        margin-left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 0.1rem;
    }
}

.newsletter__slider-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
    margin-top: 1.8rem;
    margin-bottom: 0.6rem;
    .swiper-pagination-bullet {
        margin: 0 !important;
        width: 0.8rem;
        height: 0.8rem;
        opacity: 1 !important;
        background: rgba(255, 255, 255, 0.5);
        position: relative;

        @include breakpoint(mobile) {
            width: 0.6rem;
            height: 0.6rem;
        }
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(0);
            width: 1.9rem;
            height: 1.9rem;
            background-image: url('../img/diamond-shape.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            transition: transform 0.2s;

            @include breakpoint(mobile) {
                width: 1.4rem;
                height: 1.4rem;
            }
        }

        &.swiper-pagination-bullet-active {
            &::before {
                transform: translate(-50%, -50%) scale(1);
            }
        }
    }
}

.newsletter__form {
    width: 100%;
    max-width: 45rem;
    margin: 0 auto;
    position: relative;
    @include breakpoint(mobile) {
        max-width: none;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 0;
        border: none;
        gap: 0;
    }

    .parsley-errors-list.filled {
        color: #cec1a3;
        font-size: 1.2rem;
        line-height: 1.2;
        margin-top: 0.5rem;
        text-align: left;

        @include breakpoint(mobile) {
            text-align: center;
        }
    }
}

.newsletter__form-row {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0;
    border-bottom: 1px solid #cec1a3;

    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: stretch;
        padding: 0;
        border: none;
        gap: 1.5rem;

        display: contents;
    }
}

.newsletter__form-input {
    width: 50%;
    flex-grow: 1;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: 0.05em;

    color: #cec1a3;

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        height: 3.5rem;
        text-align: center;
        line-height: 120%;
        border-bottom: 1px solid #cec1a3;
    }

    @include placeholder {
        color: #cec1a3;
    }
}

.newsletter__form-submit {
    flex-shrink: 0;
    padding-right: 0.3rem;

    @include breakpoint(mobile) {
        align-self: center;
        order: 10;
        margin-top: 1.5rem;
    }

    svg {
        width: 3.2rem;
        height: 2.5rem;
        fill: #cec1a3;
        display: block;
        transition: transform 0.4s;

        @include breakpoint(mobile) {
            width: 3.8rem;
            height: 2.8rem;
        }
    }

    .no-touch &:hover,
    .touch &:active {
        svg {
            transform: translateX(0.3rem);
        }
    }
}
