.pinlogin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    &-field {
        height: 2.5em;
        width: 2.5em;
        border: 2px solid #dad9df;
        outline: none;
        text-align: center;
        font-size: 1.5em;
        border-radius: 0.3em;
        background-color: #ffffff;
        outline: none;
        -moz-appearance: textfield;

        @include breakpointMF(small-tablet) {
            height: 3em;
            width: 3em;
        }

        &:focus {
            border: 3px solid #3a241f;
        }

        &.invalid {
            color: red;
        }
    }
}
