.promo-detail {
    padding-top: 14rem;
    padding-bottom: 7rem;

    @include breakpoint(mobile) {
        padding-top: 6rem;
        padding-bottom: 2rem;
    }
}

.promo-detail__breadcrumbs {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 120%;
    color: rgba(150, 138, 113, 0.5);

    max-width: 68rem;
    margin: 0 auto;
    margin-bottom: 2rem;

    .promo-detail--no-slider & {
        max-width: 92rem;
    }

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 170%;
        margin-bottom: 1rem;
    }

    a {
        &::after {
            content: ' / ';
        }

        &:last-child {
            &::after {
                display: none;
            }
        }
    }
}

.promo-detail__slider {
    margin-bottom: 3.5rem;

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
    .swiper {
        overflow: visible;
    }

    .swiper-slide {
        width: 68rem;
        margin: 0 1rem;

        @include breakpoint(mobile) {
            width: 90%;
            margin: 0;
            margin-right: 1.7rem;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.promo-detail__slider-card {
    position: relative;
    &::before {
        content: '';
        display: block;
        padding-bottom: 56.25%;

        @include breakpoint(mobile) {
            padding-bottom: 65%;
        }
    }
}

.promo-detail__slider-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.promo-detail__content {
    max-width: 68rem;
    margin: 0 auto;
    width: 100%;
    .promo-detail--no-slider & {
        max-width: 92rem;
    }
}

.promo-detail__title {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 120%;
    margin-bottom: 1.5rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 120%;
        margin-bottom: 1rem;
    }
}

.promo-detail__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    line-height: 120%;
    font-family: var(--zhar-ptitza);
    margin-bottom: 2rem;

    @include breakpoint(mobile) {
        font-size: 3.8rem;
        line-height: 1.2;
        margin-bottom: 1rem;
    }
}

.promo-detail__text {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9;
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 120%;
        margin-bottom: 2rem;
    }
}

.promo-detail__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 1.4rem 2.8rem;
    width: 27rem;
    background: var(--text-color);
    color: white;
    transition: background-color 0.2s, color 0.2s;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.7rem;
        width: 100%;
        padding: 1.3rem 2.6rem;
    }
    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover {
        .promo-detail__link-text {
            transform: translateX(-1rem);

            svg {
                opacity: 1;
                visibility: inherit;
                transition: opacity 0.2s, visibility 0.2s;
            }
        }
    }
}

.promo-detail__link-text {
    position: relative;
    transition: transform 0.2s;
    display: block;
    svg {
        position: absolute;
        left: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s, visibility 0s linear 0.2s;
        fill: currentColor;
        width: 2rem;
        height: 2rem;
        margin-left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 0.2rem;
    }
}

.promo-detail__image-wrapper {
    width: 100%;
    max-width: 92rem;
    margin: 0 auto;
    margin-bottom: 2.2rem;
}

.promo-detail__image {
    display: block;
    width: 100%;
    height: auto;
}
