.spa {
    background-color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.spa__content {
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include breakpoint(mobile) {
        padding: 0;
        padding-top: 4.7rem;
        align-items: stretch;
        text-align: left;
    }
}

.spa__main-wrapper {
    position: relative;
    z-index: 1;

    @include breakpointMF(small-tablet) {
        &::after {
            content: '';
            right: 0;
            bottom: 0;
            width: 26.6rem;
            height: 47.5rem;
            background-image: url('../img/spa-right-pattern.svg');
            background-size: contain;
            background-position: right center;
            background-repeat: no-repeat;
            position: absolute;
            z-index: -1;
        }

        &::before {
            content: '';
            width: 29.2rem;
            height: 61rem;
            position: absolute;
            left: 0;
            bottom: 0;
            background-image: url('../img/spa-left-pattern.svg');
            background-size: contain;
            background-position: right center;
            background-repeat: no-repeat;
            position: absolute;
            z-index: -1;
        }
    }

    @include breakpoint(mobile) {
        &::before {
            content: '';

            right: 0;
            top: 0;
            background-image: url('../img/spa-mobile-pattern.svg');
            background-size: contain;
            background-position: right center;
            background-repeat: no-repeat;
            position: absolute;
            z-index: -1;
            width: 17rem;
            height: 18rem;
            margin-top: -4rem;
        }
    }
}

.spa__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;

    font-family: var(--zhar-ptitza);

    @include breakpointMF(small-tablet) {
        br {
            display: none;
        }
    }

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 700;
        font-size: 4.2rem;
        line-height: 120%;
        text-align: left;
        margin-bottom: 1rem;

        font-size: 3.8rem;
        line-height: 1.2;
    }
}

.spa__text {
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 150%;
    max-width: 75rem;
    margin: 0 auto;
    margin-bottom: 2.5rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 150%;
        margin-bottom: 2rem;
        text-align: left;
    }
}

.spa__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
        gap: 1.5rem;
        margin-bottom: 2.5rem;
        justify-content: flex-start;
    }
}

.spa__list-item {
    flex-shrink: 0;
}

.spa__item-link {
    border: 1px solid #ead7ca;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    gap: 0.6rem;
    flex-shrink: 0;
    white-space: nowrap;
    transition: border-color 0.2s;
    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.7rem;
        padding: 1rem;
    }

    &::before {
        content: '';
        width: 1.4rem;
        height: 1.4rem;
        background-image: url('../img/diamond-shape-black.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        flex-shrink: 0;
    }

    .no-touch &:hover,
    .touch &:active {
        border-color: var(--text-color);
    }
}

.spa__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 1.4rem 2.8rem;
    width: 27rem;
    background: #000000;
    color: white;
    transition: background-color 0.2s, color 0.2s;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.7rem;
        width: 100%;
        padding: 1.3rem 2.6rem;
    }
    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover {
        .spa__link-text {
            transform: translateX(-1rem);

            svg {
                opacity: 1;
                visibility: inherit;
                transition: opacity 0.2s, visibility 0.2s;
            }
        }
    }
}

.spa__link-text {
    position: relative;
    transition: transform 0.2s;
    display: block;
    svg {
        position: absolute;
        left: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s, visibility 0s linear 0.2s;
        fill: currentColor;
        width: 2rem;
        height: 2rem;
        margin-left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 0.2rem;
    }
}

.spa__image-wrapper {
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    z-index: 10;
    // &::before {
    //     content: '';
    //     display: block;
    //     padding-bottom: 35%;
    // }
}

.spa__parallax-wrapper {
    // position: absolute;
    // left: 0;
    // top: 0;
    // width: 100%;
    // height: 100%;
}

.spa__image {
    display: block;
    width: 100%;
    height: auto;
    // position: absolute;
    // left: 0;
    // top: 0;
    // width: 100%;
    // height: 100%;
    // object-fit: cover;
}
