.tippy-box[data-theme~='custom'] {
    background: #ede8dd;
    border-radius: 0.5em;
    font-size: 1rem;

    &[data-placement^='bottom'] {
        transform: translateY(0.5em);
    }

    &[data-placement^='top'] {
        transform: translateY(-0.5em);
    }

    .tippy-content {
        max-width: 22em;
        padding: 1em;
        text-align: center;
        color: var(--text-color);

        *::selection {
            color: inherit !important;
            background-color: #fff !important;
            -webkit-text-fill-color: unset !important;
        }
    }

    .tippy-arrow {
        color: #ede8dd;
    }
}
