.tippy-box {
    font-weight: 400;
    color: var(--text-color);
    font-size: 13px;
    line-height: 120%;
    text-transform: none;
    border-radius: 0;
    background-color: var(--primary-color);
}

.tippy-content {
    padding: 2rem;

    a {
        text-decoration: underline;
    }
}

.tippy-arrow {
    color: var(--primary-color);
}

.tooltip-button {
    font-size: 10px;
    width: 16px;
    height: 16px;
    border: 1px solid;
    display: inline-block;
    line-height: 120%;
    border-radius: 50%;
    text-align: center;
    color: #b7a98a;
    cursor: pointer;
    vertical-align: middle;
}
