.tippy-box {
    font-weight: 400;
    color: var(--text-color);
    font-size: 13px;
    line-height: 120%;
    text-transform: none;
    border-radius: 0;
    background-color: var(--primary-color);

    box-shadow: 0 1.6rem 2.4rem rgba(115, 115, 115, 0.08), 0 0.2rem 0.8rem rgba(115, 115, 115, 0.06);

    *::selection {
        color: inherit !important;
        background-color: #fff !important;
        -webkit-text-fill-color: unset !important;
    }

    @include breakpoint(mobile) {
        width: calc(100vw - 10px);
    }
}

.tippy-content {
    padding: 2rem;
    word-break: break-word;

    a {
        text-decoration: underline;
    }
}

.tippy-arrow {
    color: var(--primary-color);
}

.tooltip-button {
    font-size: 10px;
    width: 16px;
    height: 16px;
    border: 1px solid;
    display: inline-block;
    line-height: 120%;
    border-radius: 50%;
    text-align: center;
    color: #b7a98a;
    cursor: pointer;
    vertical-align: middle;

    &--black {
        color: var(--text-color);
    }
}
