.visually-hidden {
    @include visuallyHidden();
}

.no-scroll {
    overflow-y: scroll;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    body {
        height: auto;
        overflow: hidden;
    }
}

.hide-on-mobile {
    @include breakpoint(mobile) {
        display: none !important;
    }
}

.show-on-mobile {
    @include breakpointMF(small-tablet) {
        display: none !important;
    }
}

.nice-link {
    background-image: linear-gradient(currentColor,currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 1px;
    transition: background-size .25s ease-out,color .2s;

    &:hover {
        background-size: 0 1px;
    }
}

.m-0 {
    margin: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}



@media only screen and (max-width: 640px) {
    .d-mobile-none {
        display: none !important;
    }
}

@media only screen and (min-width: 639.98px) {
    .d-tablet-none {
        display: none !important;
    }
}