.visit {
    padding-top: 10rem;
    padding-bottom: 15rem;
    position: relative;
    background-color: #fff;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 26rem;
        height: 48rem;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('../img/visit-left-pattern.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left center;
        pointer-events: none;

        @include breakpoint(mobile) {
            width: 11.5rem;
            height: 20rem;
            top: auto;
            transform: none;
            bottom: 2.4rem;
            background-image: url('../img/visit-left-pattern-mobile.svg');
        }

        
    }

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 28rem;
        height: 50rem;
        background-image: url('../img/visit-right-pattern.svg');
        pointer-events: none;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right center;
        top: -9rem;
        right: 0;

        @include breakpoint(mobile) {
            width: 10rem;
            height: 17rem;
            top: -2rem;
            background-image: url('../img/visit-right-pattern-mobile.svg');
        }
    }

    @include breakpoint(mobile) {
        padding-top: 12rem;
        padding-bottom: 10rem;
    }
}

.visit__content {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.visit__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 140%;
    font-family: var(--zhar-ptitza);
    margin-bottom: 1rem;

    @include breakpoint(mobile) {
        font-style: normal;

        font-size: 3.2rem;
        line-height: 100%;
        letter-spacing: 0.05em;

    }
}

.visit__text {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 140%;
    max-width: 82rem;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2.5rem;

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 170%;
        margin-bottom: 2rem;
    }
}

.visit__arrow {
    align-self: center;

    svg {
        width: 5rem;
        height: 7rem;
        transform: scaleY(-1);

        @include breakpoint(mobile) {
            width: 3.8rem;
            height: 5rem;
        }
    }
}
