.zone {
    padding-bottom: 10rem;
    position: relative;
    background-color: #fff;
    z-index: 1;
    @include breakpoint(mobile) {
        padding-bottom: 4rem;

        &--goods {
            .container {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

.zone__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--zhar-ptitza);
    margin-bottom: 1rem;

    @include breakpointMF(small-tablet) {
        .rooms + .zone & {
            opacity: 0;
            visibility: hidden;
        }
    }

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 120%;
        letter-spacing: 0.05em;
    }
}

.zone__heading-text {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2.5rem;
    max-width: 60rem;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 140%;

    @include breakpointMF(small-tablet) {
        .rooms + .zone & {
            opacity: 0;
            visibility: hidden;
        }
    }

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 150%;
        margin-bottom: 2rem;
    }
}

.zone__image-zoom-wrapper {
    margin-bottom: 3.5rem;
    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }

    @include breakpoint(mobile) {
        .zone--goods & {
            order: -10;
        }
    }
}

.zone__image-wrapper {
    position: relative;
    left: 50%;
    width: 100vw;
    max-height: 660px;
    transform: translateX(-50%) translateZ(0);
    overflow: hidden;
    backface-visibility: hidden;
    transform-origin: center top;

    @include breakpoint(mobile) {
        aspect-ratio: 1;
    }
}

.zone__image-parallax-wrapper {
}

.zone__image-zoom-wrapper-inner {
    @include breakpointMF(small-tablet) {
        .rooms + .zone & {
            transform-origin: center top;
            transform: scale(0.5);
        }
    }
}

.zone__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.zone__features-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    row-gap: 2rem;
    margin-bottom: 3.5rem;

    @include breakpoint(mobile) {
        gap: 1.4rem;
        row-gap: 1rem;
        margin-bottom: 2.5rem;
    }
}

.zone__features-list-item {
    display: inline-flex;
    align-items: center;
    gap: 0.6rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 140%;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.2rem;
        gap: 0.4rem;
    }

    &::before {
        content: '';
        flex-shrink: 0;
        width: 1.4rem;
        height: 1.4rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../img/diamond-shape-black.svg');
        flex-shrink: 0;

        @include breakpoint(mobile) {
            width: 1rem;
            height: 1rem;
        }
    }
}

.zone__btns {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2rem;
    max-width: 56rem;
    @include breakpoint(mobile) {
        grid-gap: 1rem;
    }
}

.zone__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--text-color);
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
    padding: 1.4rem 2.8rem;
    color: var(--text-color);

    &:only-child {
        grid-column: 1 / -1;
        @include breakpointMF(small-tablet) {
            justify-self: center;
            width: 27rem;
        }
    }

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1.1rem;
        line-height: 140%;
        padding: 1rem 2rem;
    }
    &:link,
    &:visited {
        color: black;
    }

    &--filled {
        background-color: var(--text-color);
        color: #fff;
        font-weight: 700;
        &:link,
        &:visited {
            color: white;
        }
    }

    .no-touch &:hover {
        .zone__btn-text {
            transform: translateX(-1rem);

            svg {
                opacity: 1;
                visibility: inherit;
                transition: opacity 0.2s, visibility 0.2s;
            }
        }
    }
}

.zone__btn-text {
    position: relative;
    transition: transform 0.2s;
    display: block;
    svg {
        position: absolute;
        left: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s, visibility 0s linear 0.2s;
        fill: currentColor;
        width: 2rem;
        height: 2rem;
        margin-left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 0.2rem;
    }
}
