@import '../../node_modules/tippy.js/dist/tippy';
@import 'tippy-custom';

@import 'vendor';
@import 'mixins';
@import 'fontface';
@import 'global';
@import 'utils';
@import 'layout';
@import 'page-header';
@import 'page-footer';
@import 'intro';
@import 'subscribe';
@import 'gallery';
@import 'spa';
@import 'about';
@import 'news';
@import 'apartments';
@import 'rooms';
@import 'zone';
@import '404';
@import 'contacts';
@import 'menu';
@import 'baths';
@import 'rest-together';
@import 'features';
@import 'bath-rest';
@import 'visit';
@import 'rooms-catalog';
@import 'room';
@import 'room-advantages';
@import 'contacts-page';
@import 'write-us';
@import 'form-page';
@import 'spa-services';
@import 'spa-slider';
@import 'booking';
@import 'booking-room-modal';
@import 'about-intro';
@import 'about-space';
@import 'about-food';
@import 'about-new-age';
@import 'programs';
@import 'auth-panel';
@import 'my-content';
@import 'my-menu';
@import 'my-orders';
@import 'my-promo';
@import 'my-person';
@import 'my-bookings';
@import 'my-card';
@import 'my-checkout';
@import 'promos-intro';
@import 'promos-catalog';
@import 'promo-detail';
@import 'certificates-intro';
@import 'certificates-gifts';
@import 'certificates-rules';
@import 'newsletter';
@import 'complex-modal';
@import 'tooltip';
@import 'form-index';
@import 'cooming-soon';
@import 'default';
@import 'pinlogin';
@import 'counter';
@import 'custom-select';
